{namespace yag=Tx_Yag_ViewHelpers}
{namespace extlist=Tx_PtExtlist_ViewHelpers}
{namespace rbac=Tx_Rbac_ViewHelpers}

<extlist:comment>
<!--  
Template for rendering an album thumb

Here is a list of objects / variables that can be accessed in this template:

Tx_Yag_Domain_Model_Album album               The album object

@package YAG
@author Michael Knoll <mimi@kaktusteam.de>
@author Daniel Lienert <daniel@lienert.cc>
-->
</extlist:comment>


<div class="tx-yag-thumb-innerframe tx-yag-album-thumb-innerframe">
	<yag:link.album album="{album}">
		<yag:image item="{album.thumb}" resolutionName="thumb" />
	</yag:link.album>
</div>

<div class="tx-yag-gallery-albuminfo">
	<div class="tx-yag-gallery-albumcaption">
		{album.name}
	</div>
	<div class="tx-yag-gallery-itemcount">
		{album.itemCount} Images
	</div>
	<div class="tx-yag-gallery-albumdescription">
		{album.description}
	</div>
	<rbac:hasAccess object="Album" action="edit">
		<div>
		   <div class="tx-yag-album-deletelink">
		       <f:link.action controller="Album" action="delete" arguments="{album: album}">Delete album</f:link.action>
		   </div>
		   <div class="tx-yag-album-editlink">
		       <f:link.action controller="Album" action="edit" arguments="{album: album}">Edit album</f:link.action>
		   </div>
		   <div class="tx-yag-album-adminlink">
		       <yag:link.albumAdmin album="{album}">
		           Album AdminList
			   </yag:link.album>
		   </div>
		</div>
	</rbac:hasAccess>
</div>