<label for="name">
	<f:translate key="tx_yag_domain_model_album.name" />
</label><br />
	<f:form.textbox property="name" /><br />
<label for="description">
	<f:translate key="tx_yag_domain_model_album.description" />
</label><br />
	<f:form.textarea property="description" cols="40" rows="15" /><br />
<label for="date">
	<f:translate key="tx_yag_domain_model_album.date" />
</label><br />
	<f:form.textbox property="date"  value="{album.date->f:format.date()}"  /><br />
<label for="feUserUid">
	<f:translate key="tx_yag_domain_model_album.fe_user_uid" />
</label><br />
	<f:form.textbox property="feUserUid" /><br />
<label for="feGroupUid">
	<f:translate key="tx_yag_domain_model_album.fe_group_uid" />
</label><br />
	<f:form.textbox property="feGroupUid" /><br />