<label for="name">
	<f:translate key="tx_yag_domain_model_album.name" />
</label><br />
	<f:form.textbox property="name" /><br />
<label for="galleries">
	<f:translate key="tx_yag_domain_model_gallery" />
</label><br />
	<f:form.select property="galleries" options="{selectableGalleries}" optionValueField="uid" optionLabelField="name" value="{selectedGallery}" /><br />
<label for="description">
	<f:translate key="tx_yag_domain_model_album.description" />
</label><br />
	<f:form.textarea property="description" cols="40" rows="15" /><br />
<label for="date">
	<f:translate key="tx_yag_domain_model_album.date" />
</label><br />
	<f:form.textbox property="date"  value="{album.date->f:format.date()}"  /><br />
