{namespace yag=Tx_Yag_ViewHelpers}
{namespace extlist=Tx_PtExtlist_ViewHelpers}
{namespace rbac=Tx_Rbac_ViewHelpers}

<extlist:comment>
<!--  
Template for rendering an album.

Here is a list of objects / variables that can be accessed in this template:

Tx_PtExtlist_Domain_Model_List_ListData listData               List of items in album

@package YAG
@author Daniel Lienert <daniel@lienert.cc>
@author Michael Knoll <mimi@kaktusteam.de>
-->
</extlist:comment>


<f:layout name="Default" />
<f:section name="main">
	<div class="tx-yag-items">
		<f:for each="{listData}" key="rowIndex" as="listRow">		
		    <f:render partial="{config.itemListConfig.imageThumbPartial}" arguments="{config: config, image: listRow.image.value, rowIndex: listRow.specialValues.absoluteRowIndex, pager: pager, pagerCollection:pagerCollection}" />
		</f:for>	
	</div>
	
	<div style="clear:both;">&nbsp;</div>
	
	<f:if condition="{config.themeConfiguration.showPager}">
		<div class="tx-yag-pager">
			<f:render partial="Pager" arguments="{action: 'list', controller: 'ItemList', pager: pager, pagerCollection: pagerCollection, itemsText: 'images'}" />
		</div>
    </f:if>

</f:section>

<f:section name="feAdminLinks">
	<rbac:hasAccess object="Album" action="create">
		<div class="tx-yag-adminLinkSection">    
	        <div><f:link.action controller="Album" action="addItems" arguments="{album: album}">Add images to album</f:link.action></div>
	        <div>&nbsp;|&nbsp;<f:link.action controller="Album" action="edit" arguments="{album : album}">Edit album</f:link.action></div>
		</div>
	</rbac:hasAccess>
</f:section>

<f:section name="beButtonsLeft">
	<f:be.buttons.icon uri="{f:uri.action(action: 'index', controller: 'Gallery')}"/>
	<f:be.buttons.icon uri="{f:uri.action(action: 'addItems', controller: 'Album', arguments: '{album: album}')}" icon="new_el"/>
</f:section>