{namespace extlist=Tx_PtExtlist_ViewHelpers}
{namespace yag=Tx_Yag_ViewHelpers}
<extlist:comment>
<!--  
Template for rendering the item List as XML

Here is a list of objects / variables that can be accessed in this template:

Tx_PtExtlist_Domain_Model_List_ListData listData               List of items in album

@package YAG
@author Daniel Lienert <daniel@lienert.cc>
-->
<?xml version="1.0" encoding="UTF-8"?>
</extlist:comment>

<yagImages>
	

<f:for each="{listData}" key="rowIndex" as="listRow">

	<image> 
		<imageURL><yag:resource.image item="{listRow.image.value}"></yag:resource.image></imageURL>
		<thumbURL><yag:resource.image item="{listRow.image.value}" resolutionName="thumb"></yag:resource.image.image></thumbURL> 
		<caption>{listRow.image.value.title}</caption>	
		<description>{listRow.image.value.description}</description>	
	</image>
</f:for>

</yagImages>
