{namespace yag = Tx_Yag_ViewHelpers}

<f:layout name="default" />
<f:section name="content">
    <h1>Editing gallery {gallery.name}</h1>
    
    
    <h2>Edit gallery properties</h2>
    <p class="bodytext">Update information about your new gallery below:</p>
    <f:render partial="formErrors" arguments="{for: 'gallery'}" />
    <f:form method="post" controller="Gallery" action="update" name="gallery" object="{gallery}">
        <label for="name">Title <span class="required">(required)</span></label><br />
        <f:form.textbox property="name" /><br />
        <label for="description">Description (max. 150 chars)</label><br />
        <f:form.textarea property="description" rows="8" cols="46" /><br />
        <label for="date">Date</label><br />
        <f:form.textbox property="date" /><br />
        <f:form.submit class="submit" value="Submit"/>
    </f:form>
    
    
    <h2>Remove albums from gallery</h2>
    <f:for each="{gallery.albums}" as="album">
        <dl>
            {album.title} 
            <f:link.action controller="Gallery" action="removeAlbum" arguments="{gallery : gallery, album : album}">
                Remove album from gallery
            </f:link.action>
        </dl>
    </f:for>
    

    <h2>Add / remove albums to or from gallery</h2>
    Select the albums that should be attached to your gallery
    <f:form method="post" controller="Gallery" action="addAlbum" name="addAlbum" object="{gallery}" arguments="{gallery : gallery}">
        <yag:doubleComboSelect 
            size="8"
            name="albums"
            optionsLabel="Albums to be added:" 
            options="{availableAlbums}" 
            optionValueField="uid"
            optionLabelField="title"
            valuesLabel="Albums in this gallery:"
            values="{gallery.albums}"
            valueValueField="uid"
            valueLabelField="title"
            formName="addAlbum"
        />
        <f:form.submit class="submit" value="Submit" />     
    </f:form>
    
    
    <f:link.action controller="Gallery" action="show" arguments="{gallery : gallery}">Back to gallery</f:link.action>
</f:section>