{namespace yag = Tx_Yag_ViewHelpers}

<f:layout name="default" />
<f:section name="content">
    <h1>Ajax test</h1>
    <script type="text/javascript" src="/fileadmin/jquery/jquery-1.3.2.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        // generate markup
        $("#rating").append("Please rate: ");
   
        for ( var i = 1; i <= 5; i++ )
            $("#rating").append("<a href='#'>" + i + "</a> ");
   
        // add markup to container and apply click handlers to anchors
        $("#rating a").click(function(e){
            // stop normal link click
            e.preventDefault();
     
            // send request
            $.post("?id=5&tx_yag_pi1[action]=ajaxResponse&tx_yag_pi1[controller]=Ajax", {rating: $(this).html()}, function(xml) {
                // format and output result
                $("#rating").html(
                    "Thanks for rating, current average: " +
                    $("average", xml).text() +
                    ", number of votes: " +
                    $("count", xml).text()
                );
            });
        });
    });
    </script>
    <div id="rating"></div>
</f:section>