{namespace yag = Tx_Yag_ViewHelpers}

<f:layout name="default" />
<f:section name="content">
    <h1><f:translate key="image.edit.header" /></h1>
    <h2>{image.name}</h2>
    <p><f:translate key="image.edit.infotext" /></p>
    <f:render partial="formErrors" arguments="{for: 'image'}" />
    <f:form method="post" controller="Image" action="update" name="image" object="{image}" arguments="{gallery:gallery, album:album}">
        <label for="title"><f:translate key="image.title" /> <span class="required">(<f:translate key="general.required" />)</span></label><br />
        <f:form.textbox property="title" /><br />
        <label for="description"><f:translate key="image.description" /></label><br />
        <f:form.textarea property="description" rows="8" cols="46" /><br />
        <br />
        <f:form.submit class="submit" value="Submit"/>
    </f:form>
    <f:link.action controller="Image" action="single" arguments="{image:image, album:album, gallery:gallery}"><f:translate key="image.links.backToImage" /></f:link.action><br/>
    <f:link.action controller="Album" action="index" arguments="{gallery:gallery, album : album}"><f:translate key="album.links.backToAlbum" /></f:link.action><br/>
    <f:link.action controller="Gallery" action="show" arguments="{gallery : gallery}"><f:translate key="gallery.links.backToGallery" /></f:link.action><br/>
    <f:link.action controller="Gallery" action="index"><f:translate key="gallery.links.backToGalleryOverview" /></f:link.action><br/>
</f:section>