{namespace yag = Tx_Yag_ViewHelpers}

<f:layout name="default" />
<f:section name="content">
    <h1><f:translate key="image.single.header" /></h1>
    <f:if condition="{image}">
        <f:then>
            <h2>{image.title}</h2>
            <dl>
                <img src="{image.single.filePath}" /><br />
                {image.description}<br />
                <a href="{image.orig.filePath}"><f:translate key="image.links.originalImage" /></a> <br/><br/>
                </dl>
            <dl>
                <f:if condition="{prevImage}">
                    <f:link.action controller="Image" action="single" arguments="{image : prevImage, album : album, gallery:gallery}">
                        <img src="{prevImage.thumb.filePath}"><br /><f:translate key="image.links.previousImage" />
                    </f:link.action><br />
                </f:if>
                <f:if condition="{nextImage}">
                    <f:link.action controller="Image" action="single" arguments="{image : nextImage, album : album, gallery:gallery}">
                        <img src="{nextImage.thumb.filePath}"><br /><f:translate key="image.links.nextImage" />
                    </f:link.action><br />
                </f:if>
            </dl>
            <f:if condition="{userIsAdmin}">
	            <f:link.action controller="Image" action="delete" arguments="{image : image, album : album, gallery : gallery}">
	                <f:translate key="image.links.deleteImage" />
	            </f:link.action><br/>
	            <f:link.action controller="Image" action="edit" arguments="{image : image, album : album, gallery:gallery}"><f:translate key="image.links.editImage" /></f:link.action><br />
            </f:if>
        </f:then>
        <f:else>
            <p>No image to display!</p>
        </f:else>
    </f:if>
    <f:link.action controller="Album" action="index" arguments="{album : album, gallery:gallery}">Back to album: {album.title}</f:link.action><br />
    <f:link.action controller="Gallery" action="show" arguments="{gallery : gallery}">Back to gallery: {gallery.name}</f:link.action><br />
    <f:link.action controller="Gallery" action="index">Back to gallery overview</f:link.action><br />
</f:section>