{namespace yag=Tx_Yag_ViewHelpers}
{namespace extlist=Tx_PtExtlist_ViewHelpers}

<extlist:comment>
<!--  
Template for adding items to an album

Here is a list of objects / variables that can be accessed in this template:

Tx_Yag_Domain_Model_Album album               Album to add items to

@package YAG
@author Michael Knoll <mimi@kaktusteam.de>
@author Daniel Lienert <daniel@lienert.cc>
-->
</extlist:comment>


<script>
    $(function() {
        $( "#addItemsOptions" ).accordion({ //
            active: false
        });
    });
</script>

<h2>Add images to album "{album.title}"</h2>

<div id="addItemsOptions">

    <h3>Upload from ZIP File</h3>
    <div>
        <f:render partial="ImportByZipForm" arguments="{album : album}" />
    </div>
    
    <h3>Import from Directory on server</h3>
    <div>
        <f:render partial="ImportByDirectoryForm" arguments="{album : album}" />
    </div>
    
    <h3>Import by uploading images</h3>
    <div>
        <f:render partial="ImportByMultifileForm" arguments="{album : album, pageUidVar : pageUidVar}" />
    </div>
    
</div>