{namespace yag=Tx_Yag_ViewHelpers}
{namespace extlist=Tx_PtExtlist_ViewHelpers}

<extlist:comment>
<!--  
Template for adding items to an album

Here is a list of objects / variables that can be accessed in this template:

Tx_Yag_Domain_Model_Album album               Album to add items to

@package YAG
@author Michael Knoll <mimi@kaktusteam.de>
@author Daniel Lienert <daniel@lienert.cc>
-->
</extlist:comment>

<f:layout name="Default" />
<f:section name="main">
	<script>
	    $(function() {
	        $( "#addItemsOptions" ).accordion({ //
	            active: false
	        });
	    });
	</script>
	
	<h1><f:translate key="tx_yag_controller_album_addItems.header" arguments="{1:album.name}"/></h1>
	
	<div id="addItemsOptions">
	
	    <h3>Upload from ZIP File</h3>
	    <div>
	       <f:render partial="ImportByZipForm" arguments="{album : album}" />
	    </div>
	    
	    <h3>Import from Directory on server</h3>
	    <div>
	        <f:render partial="ImportByDirectoryForm" arguments="{album : album}" />
	    </div>
	    
	    <h3>Import multiple files</h3>
	    <div>
	       <f:render partial="ImportByMultifileForm" arguments="{album : album}" />
	    </div>
	    
	</div>

</f:section>

<f:section name="feAdminLinks"></f:section>
<f:section name="beButtonsLeft">
	<f:be.buttons.icon uri="{f:uri.action(action: 'show', controller:'Album', arguments:'{album:album}')}"/>
</f:section>