{namespace yag = Tx_Yag_ViewHelpers}
{namespace extlist = Tx_PtExtlist_ViewHelpers}
{namespace rbac = Tx_Rbac_ViewHelpers}

<extlist:comment>
<!--  
Template for editing albums

Here is a list of objects / variables that can be accessed in this template:

Tx_Yag_Domain_Model_Album   album    Album that should be edited

@package YAG
@author Michael Knoll <mimi@kaktusteam.de>
@author Daniel Lienert <daniel@lienert.cc>
-->
</extlist:comment>


<f:layout name="Default" />
<f:section name="main">
    <h2><f:translate key="album.edit.header" default="Edit album" /> {album.name}</h2>
    
    <f:render partial="FormErrors" arguments="{for: 'album'}" />
    <f:form method="post" action="update" name="album" object="{album}">
        <f:render partial="Album/FormFields" arguments="{album:album, selectableGalleries:selectableGalleries, selectedGallery:selectedGallery}" />  
        <f:form.submit class="submit" value="{f:translate(key: 'tx_yag_general.save', default: 'Save')}" />
    </f:form>
    
    <f:link.action controller="ItemList" action="list" arguments="{album : album}">
    	<f:translate key="tx_yag_controller_album.backToAlbum" default="Back to album"/>
    </f:link.action>
</f:section>

<f:section name="feAdminLinks"></f:section>
<f:section name="beButtonsLeft"></f:section>