{namespace yag = Tx_Yag_ViewHelpers}

<f:layout name="default" />
<f:section name="content">
    <f:if condition="{album}">
        <f:then><h1>{album.title}</h1></f:then>
        <f:else><h1>Album view</h1></f:else>
    </f:if>
    <f:if condition="{album}">
        <f:then>
            <p>{album.description}</p>
            <dl>
                <f:if condition="{images}">
                    <f:then>
    	                <f:for each="{images}" as="image">
                            <f:link.action action="single" controller="Image" arguments="{image : image, album : album, gallery: gallery}">
                                <img src="/{image.thumb.filePath}" />
                            </f:link.action><br />
                            {image.title}<br />
                            <f:if condition="{image.description}">{image.description}<br /></f:if>
                            <f:link.action controller="Image" action="edit" arguments="{image : image, album : album, gallery:gallery}">Edit image</f:link.action>
                            &nbsp;
                            <f:link.action controller="Image" action="delete" arguments="{image : image, album : album, gallery:gallery}">Delete image!</f:link.action><br />
                        </f:for>
                        <f:if condition="{pager}">
	                        <f:for each="{pager.pages}" as="page">
	                            <f:if condition="{pager.currentPageNumber} == {page.pageNr}">
	                                <f:then>
	                                     {page.pageNr}&nbsp;
	                                </f:then>
	                                <f:else>
                                         <f:link.action controller="Album" action="index" arguments="{pager_currentPageNumber : page.pageNr, image : image, album : album, gallery:gallery}">{page.pageNr}</f:link.action>&nbsp;	                                
	                                </f:else>
                                </f:if>
	                        </f:for>
                        </f:if>
                    </f:then>
                    <f:else>
                        <p>No images found in album!</p>
	                </f:else>
                </f:if>
                <br />
                <f:link.action controller="Album" action="editImages" arguments="{album : album, gallery : gallery}">Edit album images</f:link.action><br />
                <f:link.action controller="Album" action="edit" arguments="{album : album, gallery : gallery}">Edit album</f:link.action><br />
                <f:link.action controller="Album" action="delete" arguments="{album : album, gallery : gallery}">Delete this album!</f:link.action><br />
                <f:link.action action="index" controller="AlbumContent" arguments="{gallery : gallery, album : album}">
                   Add contents to this album
                </f:link.action>
                <br/>
                <br/>
	            <f:if condition="{gallery}">
	                <f:then>
	                    <f:link.action action="show" controller="Gallery" arguments="{gallery : gallery}">
	                        Back to gallery<br />
	                    </f:link.action>
	                </f:then>
	            </f:if>
	            <f:link.action action="index" controller="Gallery">Back to gallery overview</f:link.action>
            </dl>
        </f:then>
    </f:if>
</f:section>