<extlist:comment>
<!--  
Template for rendering an album.

Here is a list of objects / variables that can be accessed in this template:

Tx_PtExtlist_Domain_Model_List_ListData listData               List of items in album

@package YAG
@author Michael Knoll <mimi@kaktusteam.de>
@author Daniel Lienert <daniel@lienert.cc>
-->
</extlist:comment>


<f:link.action action="showImportForm" controller="DirectoryImport">Directory Import</f:link.action><br />
<f:link.action action="showImportForm" controller="ZipImport">ZIP Import</f:link.action><br />
<f:link.action action="createSampleData" controller="Development">Create Sample Data</f:link.action><br />
<f:link.action action="deleteAll" controller="Development">Delete all sample Data</f:link.action><br />
<f:link.action action="testExif" controller="Development">Test reading exif data</f:link.action><br />
<f:link.action action="rss" controller="Feeds" pageType="100">Test RSS Feed</f:link.action><br />


<div class="tx-yag-items">
	<f:for each="{listData}" key="rowIndex" as="listRow">		
		<div class="tx-yag-thumb-outerframe" style="width:{config.albumConfig.columnRelativeWidth}%">
			<f:render partial="ImageThumb" arguments="{image: listRow.image.value, listIndex: listRow.specialValues.absoluteRowIndex}" />
		</div>
	</f:for>	
</div>

<div style="clear:both;">&nbsp;</div>

<div class="tx-yag-pager">
	<f:render partial="Pager" arguments="{pager: pager, pagerCollection: pagerCollection}" />
</div>