{namespace yag = Tx_Yag_ViewHelpers}

<f:layout name="default" />
<f:section name="content">
    <h1><f:translate key="album.new.header" /></h1>
    <f:if condition="{gallery}">
        <p><f:translate key="album.new.infotext" />: {gallery.name}</p>
    </f:if>
    <f:render partial="formErrors" arguments="{for: 'newGallery'}" />
    <f:form method="post" controller="Album" action="create" name="newAlbum" object="{newAlbum}" arguments="{gallery:gallery}">
        <label for="title"><f:translate key="album.title" /> <span class="required">(<f:translate key="general.required" />)</span></label><br />
        <f:form.textbox property="title" /><br />
        <label for="description"><f:translate key="album.description" /></label><br />
        <f:form.textarea property="description" rows="8" cols="46" /><br />
        <label for="date"><f:translate key="album.date" /></label><br />
        <f:form.textbox property="date" /><br />
        <f:form.submit class="submit" value="Submit"/>
    </f:form>
    <p><f:link.action controller="Gallery" action="show" arguments="{gallery : gallery}"><f:translate key="gallery.links.backToGallery" /></f:link.action>
    <p><f:link.action controller="Gallery" action="index"><f:translate key="gallery.links.backToGalleryOverview" /></f:link.action></p>
</f:section>