{namespace yag = Tx_Yag_ViewHelpers}

<f:layout name="default" />
<f:section name="content">
    <h1>Welcome to the gallery example</h1>
    <h2>Create an new album</h2>
    <f:if condition="{gallery}">
        <p>Creating album inside gallery: {gallery.name}</p>
    </f:if>
    <f:form method="post" controller="Album" action="create" name="newAlbum" object="{newAlbum}" arguments="{gallery:gallery}">
        <label for="title">Title <span class="required">(required)</span></label><br />
        <f:form.textbox property="title" /><br />
        <label for="description">Description (max. 150 chars)</label><br />
        <f:form.textarea property="description" rows="8" cols="46" /><br />
        <label for="date">Date</label><br />
        <f:form.textbox property="date" /><br />
        <f:form.submit class="submit" value="Submit"/>
    </f:form>
</f:section>