{namespace yag = Tx_Yag_ViewHelpers}

<f:layout name="Default" />
<f:section name="main">
<h1><f:translate key="tx_yag_controller_album_new.header" /></h1>

	<f:render partial="FormErrors" arguments="{for: 'newGallery'}" />
	<f:form method="post" controller="Album" action="create" name="newAlbum" object="{newAlbum}">
	    <f:render partial="Album/FormFields" arguments="{album:album, selectableGalleries:selectableGalleries, selectedGallery:selectedGallery}" />
	    <f:form.submit class="submit" value="{f:translate(key: 'general.save' default:'Save')}"/>
	</f:form>
	
	<f:link.action controller="Gallery" action="index">
    	<f:translate key="tx_yag_controller_gallery.backToGallery" />
    </f:link.action>
</f:section>

<f:section name="feAdminLinks"></f:section>
<f:section name="beButtonsLeft">
	<f:be.buttons.icon uri="{f:uri.action(action: 'index', controller:'Gallery')}"/>
</f:section>