{namespace yag = Tx_Yag_ViewHelpers}
{namespace ptx=Tx_PtExtbase_ViewHelpers}

<f:layout name="Default" />
<f:section name="main">
<h1><f:translate key="tx_yag_controller_album_new.header" /></h1>

	<f:render partial="FormErrors" arguments="{for: 'newAlbum'}" />
	<f:form method="post" controller="Album" action="create" name="newAlbum" object="{newAlbum}">
	    <f:render partial="Album/FormFields" arguments="{album:newAlbum, selectableGalleries:selectableGalleries, selectedGallery:selectedGallery}" />
   
	    <div class="yag-buttonLine">
    		<span class="yag-button">
    			<f:form.submit class="submit btn" value="{f:translate(key: 'tx_yag_controller_album_new.save', default: 'Save')}" />
    		</span>
    		<span class="yag-button btn">
		    	<f:link.action controller="Gallery" action="index" arguments="{gallery : selectedGallery}" class="yag-fakeButton">
                    <f:translate key="tx_yag_general.cancel"/>
		    	</f:link.action>
    		</span>
    	</div>
	</f:form>
</f:section>

<f:section name="beButtonsLeft">
	<ptx:be.buttons.icon uri="{f:uri.action(action: 'index', controller:'Gallery', arguments:{gallery : selectedGallery})}"/>
</f:section>

<f:section name="feEdit"></f:section>