<f:layout name="rss" />
<f:section name="content"><?xml version="1.0" encoding="utf-8" standalone="yes"?>
<rss version="2.0" xmlns:media="http://search.yahoo.com/mrss/" 
    xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <f:for each="{album.images}" as="image"><item>
            <title>{image.title}</title>
            <media:description>{image.description}</media:description>
            <link>{image.single.filePath}</link>
            <media:thumbnail url="{image.thumb.filePath}"/>
            <media:content url="{image.single.filePath}"/>
        </item> 
    </f:for></channel>
</rss>
</f:section>