{namespace yag=Tx_Yag_ViewHelpers}
{namespace extlist=Tx_PtExtlist_ViewHelpers}

<extlist:comment>
<!--  
Template for rendering an gallery thumb

Here is a list of objects / variables that can be accessed in this template:

Tx_Yag_Domain_Model_Gallery gallery               The gallery object

@package YAG
@author Michael Knoll <mimi@kaktusteam.de>
@author Daniel Lienert <daniel@lienert.cc>
-->
</extlist:comment>



<div class="tx-yag-thumb-innerframe tx-yag-gallery-thumb-innerframe">
	<f:link.action action="index" controller="Gallery" arguments="{extlist:namespace.GPArray(nameSpace:'albumList.filters.internalFilters.galleryFilter' arguments:'galleryUid:{gallery.Uid}')}">
		<yag:image item="{gallery.thumbAlbum.thumb}" resolutionName="thumb" />
	</f:link.action>
</div>

<div class="tx-yag-gallery-galleryinfo">
	<f:link.action action="index" controller="Gallery" arguments="{extlist:namespace.GPArray(nameSpace:'albumList.filters.internalFilters.galleryFilter' arguments:'galleryUid:{gallery.Uid}')}">
	   <div class="tx-yag-gallery-gallerycaption">
		  {gallery.name}
	   </div>
    </f:link.action>
	<div class="tx-yag-gallery-albumcount">
		{gallery.albumCount} Albums
	</div>
	<div class="tx-yag-gallery-gallerydescription">
		{gallery.description}
	</div>
    <div class="tx-yag-gallery-deletegallerylink">
	        <f:link.action controller="Gallery" action="delete" arguments="{galleryUid: gallery.uid}">Delete gallery</f:link.action>
    </div>
</div>