{namespace yag=Tx_Yag_ViewHelpers}



<extlist:comment>
<!--  
Template for rendering a thumbnail image

Here is a list of objects / variables that can be accessed in this template:

Tx_Yag_Domain_Model_Item item               Item object to be rendered

@package YAG
@author Michael Knoll <mimi@kaktusteam.de>
@author Daniel Lienert <daniel@lienert.cc>
-->
</extlist:comment>



<div class="tx-yag-thumb-innerframe">
	<div>
		<f:link.action action="show" controller="Item" arguments="{itemId:image.uid}">
			<yag:image item="{image}" resolutionName="thumb" />
		</f:link.action>
	</div>
	<div class="tx-yag-thumb-caption">
		{image.title}
	</div>
</div>