<extlist:comment>
<!--  
Partial for rendering navigation

Here is a list of objects / variables that can be accessed in this template:


@package YAG
@author Michael Knoll <mimi@kaktusteam.de>
@author Daniel Lienert <daniel@lienert.cc>
-->
</extlist:comment>


<div class="tx-yag-navigation-header" style="width: 100%; border-bottom: 1px solid #aaa; margin-bottom: 10px;">
    <h1>YAG Gallery</h1>
    <f:if condition="{gallery}">
        <div class="tx-yag-navigation-selectedgallery">Selected gallery: {gallery.name}</div>
    </f:if>
    <f:if condition="{album}">
        <div class="tx-yag-navigation-selectedalbum"> :: Selected album: {album.title}</div>
    </f:if>
    <f:if condition="{feUser}"><div class="tx-yag-logininformation">You are currently logged in as {feUser.username}</div></f:if>
</div>




<div id="messages">
    <f:renderFlashMessages class="message_ok" />
</div>