{namespace yag=Tx_Yag_ViewHelpers}

<extlist:comment>
<!--  
Template for rendering an admin menu

Here is a list of objects / variables that can be accessed in this template:


@package YAG
@author Michael Knoll <mimi@kaktusteam.de>
@author Daniel Lienert <daniel@lienert.cc>
-->
</extlist:comment>

<div class="tx-yag-pi1">
	
	<f:if condition="{config.themeConfiguration.showBreadcrumbs}">
		<yag:breadcrumbs />
	</f:if>
	
	<f:render section="main" />
	
	<f:render section="feAdminLinks" />
</div>

<div style="clear:both;">&nbsp;</div>