{namespace yag=Tx_Yag_ViewHelpers}
{namespace extlist=Tx_PtExtlist_ViewHelpers}

<extlist:comment>
<!--  
Template for index action of setup controller

Here is a list of objects / variables that can be accessed in this template:


@package YAG
@author Michael Knoll <mimi@kaktusteam.de>
@author Daniel Lienert <daniel@lienert.cc>
-->
</extlist:comment>

<f:link.action controller="Setup" action="setupRbac">Role-Based Access Controll Setup</f:link.action><br />
<f:link.action controller="Setup" action="truncateTables">Truncate Tables</f:link.action>