{namespace yag=Tx_Yag_ViewHelpers}
{namespace extlist=Tx_PtExtlist_ViewHelpers}

<extlist:comment>
<!--  
Template for rbac setup action of setup controller

Here is a list of objects / variables that can be accessed in this template:

@package YAG
@author Michael Knoll <mimi@kaktusteam.de>
@author Daniel Lienert <daniel@lienert.cc>
-->
</extlist:comment>


Role-Based access controll settings have been imported from TS<br /><br />
<f:link.action controller="Setup" action="index">Back to Role-Based Access Controll index</f:link.action>