<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <author>
        <name>Autor des Weblogs</name>
    </author>
    <title>Titel des Weblogs</title>
    <id>urn:uuid:60a76c80-d399-11d9-b93C-0003939e0af6</id>
    <updated>2003-12-14T10:20:09Z</updated>


    <f:if condition="{0:feedItemType} == {0:'image'}">
        <f:for each="{listData}" key="rowIndex" as="listRow">
            <f:alias map="{item: listRow.image.value}">

                <entry>
                    <title>{item.title}</title>
                    <link href=""/>
                    <id>urn:uuid:item-{item.uid}</id>
                    <updated>{item.updated}</updated>
                    <summary>{item.description}</summary>
                    <content>{item.description}</content>
                </entry>

            </f:alias>
        </f:for>
    </f:if>


</feed>