<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<rss version="2.0" xmlns:media="http://search.yahoo.com/mrss/" 
    xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>{album.title}</title>
        <f:for each="{listItems}" key="rowIndex" as="listRow">
            <f:for each="{listRow}" key="columnIdentifier" as="cell">
		        <item>
		            <title>{image.title}</title>
		            <media:description>{image.description}</media:description>
		            <link>{image.single.filePath}</link>
		            <media:thumbnail url="{image.thumb.filePath}"/>
		            <media:content url="{image.single.filePath}"/>
		        </item>
		    </f:for> 
        </f:for>
    </channel>
</rss>


<div class="tx-yag-items">
    <f:for each="{listData}" key="rowIndex" as="listRow">
        <f:for each="{listRow}" key="columnIdentifier" as="cell">
            <div class="tx-yag-thumb-outerframe" style="width:{config.albumConfig.columnRelativeWidth}%">
            {cell}
            </div>
        </f:for>
    </f:for>    
</div>