<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<rss version="2.0" xmlns:media="http://search.yahoo.com/mrss/"
    xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>{album.title}</title>
        <f:for each="{listData}" key="rowIndex" as="listRow">
	        <item>
	            <f:render partial="RssImage" arguments="{image: listRow.image.value}" />
	        </item>
        </f:for>
    </channel>
</rss>

<?xml version="1.0" encoding="utf-8"?>

<rss version="2.0">

    <channel>
        <title>Titel des Feeds</title>
        <link>URL der Webpräsenz</link>
        <description>Kurze Beschreibung des Feeds</description>
        <language>Sprache des Feeds (z. B. "de-de")</language>
        <copyright>Autor des Feeds</copyright>
        <pubDate>Erstellungsdatum("Tue, 8 Jul 2008 2:43:19")</pubDate>
        <image>
            <url>URL einer einzubindenden Grafik</url>
            <title>Bildtitel</title>
            <link>URL, mit der das Bild verknüpft ist</link>
        </image>

        <item>
            <title>Titel des Eintrags</title>
            <description>Kurze Zusammenfassung des Eintrags</description>
            <link>Link zum vollständigen Eintrag</link>
            <author>Autor des Artikels, E-Mail-Adresse</author>
            <guid>Eindeutige Identifikation des Eintrages</guid>
            <pubDate>Datum des Items</pubDate>
        </item>

        <item>
            ...
        </item>

    </channel>

</rss>