{namespace yag=Tx_Yag_ViewHelpers}
{namespace extlist=Tx_PtExtlist_ViewHelpers}
<?xml version="1.0" encoding="utf-8"?>

<rss xmlns:media="http://search.yahoo.com/mrss" version="2.0">

    <channel>
        <title>{config.settings.feed.title}</title>
        <link><yag:uri.current absolute="1" format="html"/></link>
        <description>{config.settings.feed.description}</description>
        <language>{config.settings.feed.language}</language>
        <copyright>{config.settings.feed.author}</copyright>
        <pubDate><f:format.date format="d.m.Y - H:i:s" date="{feedInfo.creationDate}"/></pubDate>

        <f:if condition="{0:feedItemType} == {0:'image'}">
            <f:for each="{listData}" key="rowIndex" as="listRow">
                <f:alias map="{item: listRow.image.value}">

                    <item>
                        <title>{item.title}</title>

                        <link><yag:uri.current action="show" controller="Item" format="html" absolute="1" arguments="{itemListOffset: rowIndex}"></yag:uri.current></link>
                        <author><f:if condition="{item.meta.artist}"><f:then>{item.meta.artist}</f:then><f:else>{config.settings.feed.author}</f:else></f:if></author>
                        <guid>yag-image-{item.uid}</guid>
                        <pubDate><f:format.date format="r">{item.date}</f:format.date></pubDate>
                        <description><f:format.html>{item.description}</f:format.html></description>

                        <media:thumbnail url="{yag:resource.image(item:item, resolutionName:'thumb', absolute:1)}" type="image/jpeg"/>
                        <media:content url="{yag:resource.image(item:item, resolutionName:'medium', absolute:1)}" type="image/jpeg"/>
                    </item>

                </f:alias>
            </f:for>
        </f:if>
    </channel>
</rss>