{namespace yag=Tx_Yag_ViewHelpers}
<?xml version="1.0" encoding="utf-8"?>

<rss xmlns:media="http://search.yahoo.com/mrss" version="2.0">

    <channel>
        <title>{config.settings.feed.title}</title>
        <link>URL der Webpräsenz</link>
        <description>{config.settings.feed.description}</description>
        <language>Sprache des Feeds (z. B. "de-de")</language>
        <copyright>{config.settings.feed.author}</copyright>
        <pubDate>Erstellungsdatum("Tue, 8 Jul 2008 2:43:19")</pubDate>

        <f:if condition="{0:feedItemType} == {0:'image'}">
            <f:for each="{listData}" key="rowIndex" as="listRow">
                <f:alias map="{item: listRow.image.value}">

                    <item>
                        <title>{item.title}</title>

                        <link>Link zum vollständigen Eintrag</link>
                        <author><f:if condition="{item.meta.artist}"><f:then>{item.meta.artist}</f:then><f:else>{config.settings.feed.author}</f:else></f:if></author>
                        <guid>yag-image-{item.uid}</guid>
                        <pubDate><f:format.date format="r">{item.date}</f:format.date></pubDate>
                        <description>{item.description}</description>

                        <media:thumbnail url="{yag:resource.image(item:item, resolutionName:'thumb')}" height="100" width="150" type="image/jpeg"/>
                        <media:content url="http://www.dpsg-freiburg.de/gallery/main.php?g2_view=core.DownloadItem&g2_itemId=22676&g2_serialNumber=1" height="1080" width="1620" type="image/jpeg"/>
                    </item>



                </f:alias>
            </f:for>
        </f:if>
    </channel>
</rss>