<extlist:comment>
<!--  
Template for rendering rss feed

Here is a list of objects / variables that can be accessed in this template:

Tx_PtExtlist_Domain_Model_List_ListData  listData               Items to be rendered

@package YAG
@author Michael Knoll <mimi@kaktusteam.de>
@author Daniel Lienert <daniel@lienert.cc>
-->
</extlist:comment>




<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<rss version="2.0" xmlns:media="http://search.yahoo.com/mrss/" 
    xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>{album.title}</title>
        <f:for each="{listData}" key="rowIndex" as="listRow">
            <item>
                <f:render partial="RssImage" arguments="{image: listRow.image.value, listIndex: listRow.specialValues.absoluteRowIndex}" />
            </item>
        </f:for>
    </channel>
</rss>