{namespace yag=Tx_Yag_ViewHelpers}
{namespace extlist=Tx_PtExtlist_ViewHelpers}



<extlist:comment>
<!--  
Template for ajax editing demonstration

Here is a list of objects / variables that can be accessed in this template:
int pageId      ID of page, ajax controller is available on


@package YAG
@author Michael Knoll <mimi@kaktusteam.de>
@author Daniel Lienert <daniel@lienert.cc>
-->
</extlist:comment>



<script type="text/javascript">
{pageIdVar}
var update_generic_url = 'index.php?id=' + pageId + '&tx_yag_pi1[controller]=Ajax&tx_yag_pi1[action]=updateGenericProperty';

// Tastatureingaben
$(document.documentElement).keyup(function (event) {
    // Eingabe per ESC schlie§en
    if (event.keyCode == 27) {
        $(".tx-yag-ajax-edit-form").hide();
    } 
});


// Handling ajax events
$(function() {
    // Select all editable divs and add mouseover
    $(".tx-yag-ajaxeditable").mouseover(function() {
        $(this).addClass("whiteBackgroundEdit");
    });
    $(".tx-yag-ajaxeditable").mouseout(function() {
        $(this).removeClass("whiteBackgroundEdit");
    });
    
    // Open up a form, if editable div is clicked
    $(".tx-yag-ajaxeditable").click(function() {
        // Position the edit form right under div
        var pos = $(this).offset();
        var height = $(this).height();
        var content = $(this).html();
        $(".tx-yag-ajax-edit-form").css( { "position" : "absolute", "left" : (pos.left) + "px", "top" : (pos.top + height) + "px" } );
        $("#Ajax-Edit-Form-Content").val(content);
        $("#Class-Uid-Property").val($(this).attr("id"));
        $(".tx-yag-ajax-edit-form").show();
    });
    
    // Handle cancel-action in album description form
    $(".tx-yag-ajax-edit-form-cancel").click(function () {
        $(this).parents(".tx-yag-ajax-edit-form").hide();
    });

    // Handle submit in update form
    $(".tx-yag-ajax-edit-form-submit").click(function() {
        var form = $(this).parents(".tx-yag-ajax-edit-form");
        var content = $("#Ajax-Edit-Form-Content").val();
        var classUidProperty = $("#Class-Uid-Property").val();
        $.ajax({
            url: update_generic_url,
            data: "tx_yag_pi1[content]=" + content + "&tx_yag_pi1[classUidProperty]=" + classUidProperty,
            success: function(feedback) {
                if (feedback=='OK') {
                    $("#messages").html("<div class='message_ok'>&Auml;nderungen wurden gespeichert!</div>");
                    // think about how we can update html on page (perhaps with return value of ajax?)
                } else {
                    $("#messages").html("<div class='message_error'>"+feedback+"</div>");
                }
            }
        });
        // We cannot do this inside ajax call, as 'this' is not defined there!
        $(this).parents("..tx-yag-ajax-edit-form").hide();
    });
    
});  
    
</script>

<div class="#messages"></div>

<div class="tx-yag-ajaxeditable" id="Tx_Yag_Domain_Model_Item-10-title">photo1.jpg</div><br /><br />
<div class="tx-yag-ajaxeditable" id="Tx_Yag_Domain_Model_Album-1-name">Erstes Fotoalbum</div>

<div class="tx-yag-ajax-edit-form" style="display:none">
  <form id="edit-form" class="button-small" method="post" action="">
    <fieldset style="display:none">
        <input type="hidden" name="tx_yag_pi1[classUidAttribute]" value="" id="Class-Uid-Property" />
    </fieldset>
    <div class="tx-yag-ajax-edit-form-cancel transparent-70"></div>
    <textarea name="content" label="" id="Ajax-Edit-Form-Content" cols="" rows=""></textarea>
     
    <a class="tx-yag-ajax-edit-form-cancel">Abbrechen</a>
    <a class="tx-yag-ajax-edit-form-submit">Speichern</a>
  </form>
</div>