{namespace yag=Tx_Yag_ViewHelpers}

<div id="edit-image-{item.uid}" style="margin-top: 5px; border: 1px solid #aaa; background: none repeat scroll 0 0 white; padding: 10px;">
    <div class="image-info" style="float:left">
        <table class="image-info-table">
            <tr>
                <td>Title:</td>
                <td><f:form.textbox property="item.{item.uid}.title" value="{item.title}" size="40" /></td>
            </tr>
            <tr>
                <td>Description:</td>
                <td><f:form.textarea property="item.{item.uid}.description" value="{item.description}" rows="5" cols="40" />
            </tr>
            <tr>
                <td>Properties:</td>
                <td>Width: {item.width} - Height: {item.height} <br />
                    Image Path: {item.sourceUri} <br />
                    Size: {item.fileSize}
                </td> 
            </tr>
        </table>
    </div>
    <div class="image-thumb" style="float: right; width: 200px">
        <yag:image item="{item}" resolutionName="thumb" />
        <div class="image-controll-box" style="background: none repeat scroll 0 0 #F7F7F7;border: 1px solid #CCCCCC;">
            <f:form.radio property="album.thumb" checked="{f:if(condition: '{item.album.thumb.uid} == {item.uid}', then:'checked')}" value="{item.uid}" /> This item is album thumb <br />
            <f:form.checkbox name="item.{item.uid}.shouldBeDeleted" value="1" /> Delete this item <br />
            Move to album: <br />
            <f:form.select property="item.{item.uid}.album" optionValueField="uid" optionLabelField="name" options="{albums}" value="{item.album}"/>
        </div>
    </div>
    <div style="clear:both"></div>
</div>