{namespace yag=Tx_Yag_ViewHelpers}
{namespace extlist=Tx_PtExtlist_ViewHelpers}

<div class="photo-detail {f:if(condition: '{image.uid} == {album.thumb.uid}', then:' photo-detail-index-photo')}" id="imageUid-{image.uid}">
    <div class="photo-detail-edit"></div>
    <div class="photo-detail-text">{image.title}</div>
    <div class="photo-detail-photo">
        <yag:image item="{image}" resolutionName="thumb" />
	    <div class="photo-detail-linkbar">
	        <div class="photo-detail-linkbar-background transparent-70"></div>
	        <a class="photo-detail-linkbar-button photo-detail-linkbar-delete" href="" title="{f:translate(key:'tx_yag_controller_item.deleteItem')}">
	          <span class="t3-icon t3-icon-actions t3-icon-actions-edit t3-icon-edit-delete">&nbsp;</span>
	        </a>
	        <a class="photo-detail-linkbar-button photo-detail-linkbar-key" title="{f:translate(key:'tx_yag_controller_item.setItemAsAlbumThumb')}">
	          <span class="t3-icon t3-icon-apps t3-icon-apps-toolbar t3-icon-toolbar-menu-shortcut">&nbsp;</span>
	        </a>
	        <a class="photo-detail-linkbar-button photo-detail-linkbar-description" title="{f:translate(key:'tx_yag_controller_item.changeDescription')}">
	        	<span class="t3-icon t3-icon-actions t3-icon-actions-page t3-icon-page-open">&nbsp;</span>
	        </a>
			<a href="/{yag:resource.image(item: image, resolutionName: 'medium')}"
					class="fancybox photo-detail-linkbar-button photo-detail-linkbar-show"
					rel="album_{image.album.uid}"
					title="<span>{image.title}</span><p>{image.description}</p>">
					<span class="t3-icon t3-icon-apps t3-icon-apps-toolbar t3-icon-toolbar-menu-search">&nbsp;</span>
			</a>
	    </div>
	    <div class="photo-detail-size">{image.width} x {image.height}</div>
    </div>

    <div class="photo-detail-name">
        <fieldset style="display: none;">
          <input type="hidden" name="_method" value="POST" />
          <input type="hidden" name="tx_yag_pi1[itemUid]={image.uid}" />
        </fieldset>

        <div class="photo-detail-name-background transparent-70"></div>
        <textarea name="tx_yag_pi1[itemTitle]" label="" id="PhotoName" cols="" rows="">{image.title}</textarea>

        <a class="photo-detail-name-cancel"><f:translate key="tx_yag_general.cancel" /></a>&nbsp;
        <a class="photo-detail-name-submit"><f:translate key="tx_yag_general.save" /></a>
    </div>

    <div class="photo-detail-description">
        <fieldset style="display: none;">
          <input type="hidden" name="_method" value="POST" />
          <input type="hidden" name="tx_yag_pi1[itemUid]={image.uid}" />
        </fieldset>

        <div class="photo-detail-description-background transparent-70"></div>
        <span>Desc</span>
        <textarea name="tx_yag_pi1[itemDescription]" label="" id="PhotoDescription" cols="" rows="">{image.description}</textarea>

        <a class="photo-detail-description-cancel"><f:translate key="tx_yag_general.cancel" /></a>
        <a class="photo-detail-description-submit"><f:translate key="tx_yag_general.save" /></a>
    </div>
</div>
