{namespace yag=Tx_Yag_ViewHelpers}
{namespace extlist=Tx_PtExtlist_ViewHelpers}
{namespace rbac=Tx_Rbac_ViewHelpers}
<extlist:comment>
<!--  
Template for rendering a thumbnail image

Here is a list of objects / variables that can be accessed in this template:

Tx_Yag_Domain_Model_Item item               Item object to be rendered

@package YAG
@author Michael Knoll <mimi@kaktusteam.de>
@author Daniel Lienert <daniel@lienert.cc>
-->
</extlist:comment>

<div class="tx-yag-thumb-innerframe">
	<div>
        <f:if condition="{0:config.itemListConfig.linkMode} == {0:'show'}">
            <f:then>
                <f:if condition="{rowIndex}">
                    <f:then>
                        <extlist:link.action action="show" controller="Item" arguments="{itemListOffset: rowIndex}">
                            <yag:image item="{image}" resolutionName="thumb" />
                        </extlist:link.action>
                    </f:then>
                    <f:else>
                        <yag:Link.image item="{image}">
                            <yag:image item="{image}" resolutionName="thumb" />
                        </yag:Link.image>
                    </f:else>
                </f:if>
            </f:then>
            <f:else>
                <f:if condition="{0:config.itemListConfig.linkTargetPluginMode} == {0:'gallery'}">
                    <yag:link.gallery gallery="{image.album.gallery}" pageUid="{config.itemListConfig.linkTargetPageUid}">
                        <yag:image item="{image}" resolutionName="thumb" />
                    </yag:link.gallery>
                </f:if>

                <f:if condition="{0:config.itemListConfig.linkTargetPluginMode} == {0:'album'}">
                    <yag:link.album album="{image.album}" pageUid="{config.itemListConfig.linkTargetPageUid}">
                        <yag:image item="{image}" resolutionName="thumb" />
                    </yag:link.album>
                </f:if>

                <f:if condition="{0:config.itemListConfig.linkTargetPluginMode} == {0:'image'}">
                    <yag:Link.image item="{image}">
                        <yag:image item="{image}" resolutionName="thumb" />
                    </yag:Link.image>
                </f:if>
            </f:else>
        </f:if>
	</div>
	<f:if condition="{config.settings.itemList.showTitle}">
		<div class="tx-yag-thumb-caption">{image.title}</div>
	</f:if>
</div>
