{namespace yag=Tx_Yag_ViewHelpers}
{namespace ptx=Tx_PtExtbase_ViewHelpers}
{namespace extlist=Tx_PtExtlist_ViewHelpers}

<div id="edit-image-{item.uid}" class="yag-box-white">
    <div class="yag-batch-editfields" style="float:left">
        <table>
            <tr>
                <td><f:translate key="tx_yag_domain_model_item.title" default="Title" />:</td>
                <td><f:form.textfield id="item-title-textbox-{item.uid}" property="item.{item.uid}.title" value="{item.title}" size="40" /></td>
            </tr>
            <tr>
                <td><f:translate key="tx_yag_domain_model_item.description" default="Title" />:</td>
                <td><f:form.textarea id="item-decription-textarea-{item.uid}" property="item.{item.uid}.description" value="{item.description}" rows="5" cols="40" />
            </tr>
            <tr>
                <td><f:translate key="tx_yag_domain_model_item.tags" />:</td>
                <td><f:form.textfield id="item-tags-textbox-{item.uid}" property="item.{item.uid}.tags" value="{item.TagsSeparated}" size="40" /></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <div class="tx-yag-image-admin-edit-properties" style="width: 320px">
                        <f:translate key="tx_yag_domain_model_item.size" default="Image size" />: {item.width} x {item.height} <br />
                        <f:translate key="tx_yag_domain_model_item.filesize" default="File size" />: <ptx:format.fileSize>{item.fileSize}</ptx:format.fileSize><br />
                        <f:translate key="tx_yag_domain_model_item.sourceUri" default="Image path" />: {item.sourceUri} <br />
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="image-thumb" style="float: right; width: 250px">
        <yag:image item="{item}" resolutionName="thumb" />
        <div class="yag-box-lightgray">
            <f:form.radio class="tx-yag-is-thumb-radio" property="thumb" id="is_thumb_radio-{item.uid}" checked="{f:if(condition: '{album.thumb.uid} == {item.uid}', then:'checked')}" value="{item.uid}" />
                <label for="is_thumb_radio-{item.uid}"><f:translate key="tx_yag_controller_item.itemIsAlbumThumb" default="Image is album thumb" /></label> <br />

            <f:form.checkbox name="itemsToBeDeleted[{item.uid}]" value="1" id="delete_item-{item.uid}" />
                <label for="delete_item-{item.uid}"><f:translate key="tx_yag_controller_item.deleteItem" default="Image is album thumb" /></label><br />

            <f:translate key="tx_yag_controller_item.moveToAlbum" default="Move to album" />: <br />
            <f:form.select property="item.{item.uid}.album" optionValueField="uid" optionLabelField="name" options="{albums}" value="{album}"/>
        </div>

        <div style="padding-top: 3px;">
                <ptx:be.buttons.Icon uri="alt_doc.php?returnUrl={f:uri.action(action:'submitFilter', additionalParams:'{id:currentPid}', arguments:'{extlist:namespace.GPArray(object: yagContext arguments:\'albumUid:{item.album.uid}\')}')->f:format.urlencode()}&edit[tx_yag_domain_model_item][{item.uid}]=edit" icon='actions-document-open' title="Open"/>
                <a href="alt_doc.php?returnUrl={f:uri.action(action:'submitFilter', additionalParams:'{id:currentPid}', arguments:'{extlist:namespace.GPArray(object: yagContext arguments:\'albumUid:{item.album.uid}\')}')->f:format.urlencode()}&edit[tx_yag_domain_model_item][{item.uid}]=edit" ><f:translate key="tx_yag_controller_item.editItemInListModule"/></a>
        </div>
        
    </div>
    <div style="clear:both"></div>
</div>