{namespace yag=Tx_Yag_ViewHelpers}
{namespace extlist=Tx_PtExtlist_ViewHelpers}
{namespace rbac=Tx_Rbac_ViewHelpers}

<extlist:comment>
<!--  
Template for rendering a thumbnail image

Here is a list of objects / variables that can be accessed in this template:

Tx_Yag_Domain_Model_Item item               Item object to be rendered

@package YAG
@author Michael Knoll <mimi@kaktusteam.de>
@author Daniel Lienert <daniel@lienert.cc>
-->
</extlist:comment>
<div class="tx-yag-thumb-outerframe" style="width:{config.itemListConfig.columnRelativeWidth}%">
	<div class="tx-yag-thumb-innerframe">
		<div>
			<a href="{image.sourceUri}" rel="shadowbox[images_{image.album.uid}]">
				<yag:image item="{image}" resolutionName="thumb" />
            </a>
		</div>
	</div>
</div>