{namespace yag=Tx_Yag_ViewHelpers}
<ol id="{listId}">
	<f:for each="{pages}" key="i" as="page">
		<f:if condition="{page.uid} == {selectedPage}">
			<f:then><li class="ui-state-default ui-selected" style="margin-bottom:2px;" pageUid="{page.uid}"></f:then>
			<f:else><li class="ui-state-default" style="margin-bottom:2px;" pageUid="{page.uid}"></f:else>
		</f:if>
			
			<div style="padding:3px;">
				<div style="float:left; padding-right:5px;">
					<yag:image item="{gallery.thumbAlbum.thumb}" resolutionName="icon64"/>
				</div>
				<div>
					<div><strong>{page.uid}</strong></div>
				</div>
				<div style="clear:both"></div>
			</div>
		</li>
	</f:for>
</ol>