{namespace yag=Tx_Yag_ViewHelpers}
<ol id="{listId}">
	<f:for each="{galleries}" key="i" as="gallery">
		<f:if condition="{gallery.uid} == {selectedGalleryUid}">
			<f:then><li class="ui-state-default ui-selected" style="margin-bottom:2px;" galleryUid="{gallery.uid}"></f:then>
			<f:else><li class="ui-state-default" style="margin-bottom:2px;" galleryUid="{gallery.uid}"></f:else>
		</f:if>
			
			<div style="padding:3px;">
				<div style="float:left; padding-right:5px;">
					<yag:image item="{gallery.thumbAlbum.thumb}" resolutionName="icon64"/>
				</div>
				<div>
					<div><strong>{gallery.name}</strong></div>
					<div>{gallery.albumCount} Albums</div>
				</div>
				<div style="clear:both"></div>
			</div>
		</li>
	</f:for>
</ol>