<extlist:comment>
<!--  
Template for rendering a import form for directory import

Here is a list of objects / variables that can be accessed in this template:

array<Tx_Yag_Domain_Model_Album> albums               Array of albums
string                           directory            Directory to import from

@package YAG
@author Michael Knoll <mimi@kaktusteam.de>
@author Daniel Lienert <daniel@lienert.cc>
-->
</extlist:comment>


<style>
    .ui-autocomplete-loading { background: white url('fileadmin/jquery/images/ui-anim_basic_16x16.gif') right center no-repeat; }
    #city { width: 25em; }
</style>

<link type="text/css" href="css/themename/jquery-ui-1.8.7.custom.css" rel="Stylesheet" />
<script src="fileadmin/jquery/development-bundle/jquery-1.5.1.js" type="text/javascript"></script>
<script src="fileadmin/jquery/development-bundle/ui/jquery-ui-1.8.10.custom.min.js" type="text/javascript"></script>


<script>
$(function() {

    $( "#directory" ).autocomplete({
        source: function( request, response ) {
            $.ajax({
                url: "index.php",
                dataType: "json",
                data: {
                    "id" : pageId,
                    "tx_yag_pi1[controller]": "Ajax",
                    "tx_yag_pi1[action]": "directoryAutoComplete",
                    "tx_yag_pi1[directoryStartsWith]": request.term
                },
                success: function( data ) {
                    response( $.map( data, function( item ) {
                        return {
                            label: item.value,
                            value: item.value,
                            result: item.value
                        }
                    }));
                }
            });
        },
        minLength: 0,
        select: function( event, ui ) {
           $("#directory").val(ui.item.value);
        }
    });
});
</script>



<f:form method="post" controller="DirectoryImport" action="importFromDirectory" name="importFromDirectory">
    <script>var pageId = {pageId};</script>
    <label for="album">Album</label>
    <f:form.select name="album" options="{albums}" optionValueField="uid" optionLabelField="name" />
    <div class="ui-widget">
        <label for="directory">Directory</label>
        <f:form.textbox name="directory" value="{directory}" id="directory" />
    </div>
    <f:form.submit value="submit" />
</f:form>