{namespace yag = Tx_Yag_ViewHelpers}

<f:layout name="default" />
<f:section name="content">
    <f:if condition="{album}">
        <f:then><h1>{album.title}</h1></f:then>
        <f:else><h1>Album contents</h1></f:else>
    </f:if>
    <p><f:translate key="albumcontent.index.infotext" /></p>
    
    
    
    <h2><f:translate key="albumcontent.index.addPhotos.header" /></h2>
    <p><f:translate key="albumcontent.index.addPhotos.infotext" /></p>
    <f:render partial="formErrors" arguments="{for: 'addImagesByPath'}" />
	<f:form method="post" controller="AlbumContent" action="addImagesByPath" object="{AddImagesByPath}" name="addImagesByPath" arguments="{gallery : gallery, album : album}">
	    <label for="basePath"><f:translate key="albumcontent.basePath" /> <span class="required">(<f:translate key="general.required" />)</span></label><br />
	    <f:form.textbox property="basePath" size="30" /><br />
	    <label for="thumbsPath"><f:translate key="albumcontent.thumbsPath" /></label><br/>
	    <f:form.textbox property="thumbsPath" size="20" /><br />
	    <label for="singlesPath"><f:translate key="albumcontent.singlesPath" /></label><br/>
	    <f:form.textbox property="singlesPath" size="20" /><br />
	    <label for="origsPath"><f:translate key="albumcontent.origsPath" /></label><br />
	    <f:form.textbox property="origsPath" size="20" /><br /><br />
	    <f:form.submit class="submit" value="Submit"/>
	</f:form>
	
	
	
	<h2><f:translate key="albumcontent.index.addAndResize.header" /></h2>
	<p><f:translate key="albumcontent.index.addAndResize.infotext" /></p>
	<f:render partial="formErrors" arguments="{for: 'addImagesByFile'}" />
	<f:form method="post" controller="AlbumContent" action="addImagesByFile" object="{AddImagesByFile}" name="addImagesByFile" arguments="{gallery : gallery, album : album}">
	    <label for="picturePath"><f:translate key="albumcontent.basePath" /> <span class="required">(<f:translate key="general.required" />)</span></label><br />
	    <f:form.textbox property="basePath" size="30" /><br /><br />
	    
        <label for="thumbsPath"><f:translate key="albumcontent.thumbsPath" /> <span class="required"> (<f:translate key="general.required" />)</span></label><br />                    
        <f:form.textbox property="thumbsPath" size="30" /><br />
        <label for="singlesPath"><f:translate key="albumcontent.singlesPath" /> <span class="required"> (<f:translate key="general.required" />)</span></label><br />
        <f:form.textbox property="singlesPath" size="30" /><br /><br />

        <label for="thumbsWidth"><f:translate key="albumcontent.thumbsWidth" /> <span class="required"> (<f:translate key="general.required" />)</span></label><br />
        <f:form.textbox property="thumbsWidth" size="30" /><br />
        <label for="thumbsHeight"><f:translate key="albumcontent.thumbsHeight" /> <span class="required"> (<f:translate key="general.required" />)</span></label><br />
        <f:form.textbox property="thumbsHeight" size="30" /><br />
        <label for="thumbsQuality"><f:translate key="albumcontent.thumbsQuality" /> <span class="required"> (<f:translate key="general.required" />)</span></label><br />
        <f:form.textbox property="thumbsQuality" size="3" /><br /><br />
        
        <label for="singlesWidth"><f:translate key="albumcontent.singlesWidth" /> <span class="required"> (<f:translate key="general.required" />)</span></label><br />
        <f:form.textbox property="singlesWidth" size="30" /><br />
        <label for="singlesHeight"><f:translate key="albumcontent.singlesHeight" /> <span class="required"> (<f:translate key="general.required" />)</span></label><br />
        <f:form.textbox property="singlesHeight" size="30" /><br />
        <label for="singlesQuality"><f:translate key="albumcontent.singlesQuality" /> <span class="required"> (<f:translate key="general.required" />)</span></label><br />
        <f:form.textbox property="singlesQuality" size="3" /><br /><br />
	    
	    <f:form.submit class="submit" value="Submit" />
	</f:form>
	
	
	
	<f:link.action action="index" controller="Album" arguments="{album : album, gallery : gallery}">
	   <f:translate key="album.links.backToAlbum" />
	</f:link.action><br />
	<f:link.action action="show" controller="Gallery" arguments="{gallery : gallery}">
	   <f:translate key="gallery.links.backToGallery" />
	</f:link.action><br />
	<f:link.action action="index" controller="Gallery">
	   <f:translate key="gallery.links.backToGalleryOverview" />
	</f:link.action>
</f:section>