{namespace yag=Tx_Yag_ViewHelpers}
{namespace extlist=Tx_PtExtlist_ViewHelpers}

<extlist:comment>
<!--  
Template for deleting gallery

Here is a list of objects / variables that can be accessed in this template:

Tx_Yag_Domain_Model_Gallery gallery        Gallery to be rendered

@package YAG
@author Michael Knoll <mimi@kaktusteam.de>
@author Daniel Lienert <daniel@lienert.cc>
-->
</extlist:comment>


<f:layout name="Default" />
<f:section name="main">
     <div class="tx-yag-gallery-confirmation">
         <f:link.action controller="Gallery" action="delete" arguments="{reallyDelete: 'true', galleryUid: gallery.uid}"><f:translate arguments="{0:gallery.name}" key="tx_yag_controller_gallery_delete.reallyDelete" /></f:link.action>
     </div>  
</f:section>

<f:section name="feAdminLinks"></f:section>
<f:section name="beButtonsLeft"></f:section>