<f:layout name="default" />
<f:section name="content">
    <f:if condition="{gallery}">
        <f:then><h1>Delete gallery "{gallery.name}"</h1></f:then>
        <f:else><h1>Delete gallery</h1></f:else>
    </f:if>
    <f:if condition="{deleted}">
        <f:then>
            <p>Gallery has been deleted!</p>
        </f:then>
        <f:else>
	        <f:if condition="{gallery}">
	            <p>Do you really want to delete this gallery: {gallery.description} (all sub-albums will be deleted)?</p>
	            <f:link.action action="delete" controller="Gallery" arguments="{gallery : gallery, reallyDelete : 1}">Delete Gallery!</f:link.action><br />
            </f:if>
        </f:else>
    </f:if>
    <f:link.action controller="Gallery" action="index">Back to gallery overview</f:link.action>
</f:section>