<f:link.action action="showImportForm" controller="DirectoryImport">Directory Import</f:link.action><br />
<f:link.action action="createSampleData" controller="Development">Create Sample Data</f:link.action><br />
<f:link.action action="deleteAll" controller="Development">Delete all sample Data</f:link.action><br />


<div class="tx-yag-items">
	<f:for each="{listData}" key="rowIndex" as="listRow">
		<f:for each="{listRow}" key="columnIdentifier" as="cell">
			<div class="tx-yag-thumb-outerframe" style="width:{config.albumConfig.columnRelativeWidth}%">
			{cell}
			</div>
		</f:for>
	</f:for>	
</div>

<div style="clear:both;">&nbsp;</div>

<div class="tx-yag-pager">
	<f:render partial="Pager" arguments="{pager: pager, pagerCollection: pagerCollection}" />
</div>