{namespace yag = Tx_Yag_ViewHelpers}
<f:layout name="default" />
<f:section name="content">
    <h1><f:translate key="gallery.index.header" /></h1>
    <f:if condition="{galleries}">
        <f:then>
            <p><f:translate key="gallery.index.infotext" /></p>
            <dl>
                <f:for each="{galleries}" as="gallery">
                    <dd>
                        <f:link.action controller="Gallery" action="show" arguments="{gallery : gallery}">{gallery.description} ({gallery.albumCounter})</f:link.action>
                        <f:link.action controller="Gallery" action="edit" arguments="{gallery : gallery}"><f:translate key="general.edit" /></f:link.action>
                        <f:link.action controller="Gallery" action="delete" arguments="{gallery : gallery}"><f:translate key="general.delete" /></f:link.action>
                    <dd>
                </f:for>
            </dl>
            <f:if condition="{userIsAdmin}">
	            <p>
	                <f:link.action action="new" controller="Gallery"><f:translate key="gallery.index.createOther" /></f:link.action>
	            </p>
            </f:if>
        </f:then>
        <f:else>
            <f:if condition="{userIsAdmin}">
	            <p>
	                <strong><f:link.action action="new" controller="Gallery"><f:translate key="gallery.index.createFirst" /></f:link.action></strong>
	            </p>
            </f:if>
        </f:else>
    </f:if>
</f:section>