{namespace yag=Tx_Yag_ViewHelpers}
{namespace extlist=Tx_PtExtlist_ViewHelpers}
{namespace rbac=Tx_Rbac_ViewHelpers}


<extlist:comment>
<!--  
Template for rendering gallery list

Here is a list of objects / variables that can be accessed in this template:

Tx_PtExtlist_Domain_Model_List_ListData  listData               Items to be rendered
Tx_PtExtlist_Domain_Model_Pager_PagerInterface pager            Pager
Tx_PtExtlist_Domain_Model_Pager_PagerCollection pagerCollection Collection of pagers

@package YAG
@author Michael Knoll <mimi@kaktusteam.de>
@author Daniel Lienert <daniel@lienert.cc>
-->
</extlist:comment>

<f:layout name="Default" />
<f:section name="main">

	<div class="tx-yag-items">
		<f:for each="{listData}" key="rowIndex" as="listRow">
			<div class="tx-yag-thumb-outerframe" style="width:{config.galleryConfig.columnRelativeWidth}%; height:200px;">
				<f:render partial="Gallery/GalleryThumb" arguments="{gallery : listRow.gallery.value, yagContext : yagContext}" />
			</div>
		</f:for>
		<div style="clear:both;">&nbsp;</div>	
	</div>
	
	<div class="tx-yag-pager">
		<f:render partial="Pager" arguments="{pager: pager, pagerCollection: pagerCollection, itemsText: 'galleries'}" />
	</div>	
</f:section>


<f:section name="feAdminLinks">
	<div class="tx-yag-adminLinkSection">
	    <rbac:hasAccess object="Gallery" action="create">
	        <div><f:link.action controller="Gallery" action="new">Add gallery</f:link.action></div>
	    </rbac:hasAccess>
	</div>
</f:section>

<f:section name="beButtonsLeft">
	<f:be.buttons.icon uri="{f:uri.action(action: 'new')}" icon="new_el"/>
</f:section>
