{namespace ptextbase=Tx_PtExtbase_ViewHelpers}
<extlist:comment>
<!--  
Template for rendering form for creating a new gallery

Here is a list of objects / variables that can be accessed in this template:

Tx_Yag_Domain_Model_Gallery newGallery      New gallery object that is re-passed if there are any validation errors


@package YAG
@author Michael Knoll <mimi@kaktusteam.de>
@author Daniel Lienert <daniel@lienert.cc>
-->
</extlist:comment>

<f:layout name="Default" />
<f:section name="main">

	<h1><f:translate key="gallery.new.header" default="New gallery"/></h1>
	<p class="bodytext"><f:translate key="gallery.new.infotext" /></p>
	
	<f:render partial="FormErrors" arguments="{for: 'newGallery'}" />
	<f:form method="post" controller="Gallery" action="create" name="newGallery" object="{newGallery}">
	
	    <f:render partial="Gallery/FormFields" arguments="{gallery:gallery}" />
	    
	    <div class="yag-buttonLine">
            <span class="yag-button">
                <f:form.submit class="submit" value="{f:translate(key: 'tx_yag_general.save', default: 'Save')} {f:translate(key: 'tx_yag_general.gallery')}" />
            </span>
    		<span class="yag-button">
		    	<f:link.action action="list" class="yag-fakeButton">
		    		<f:translate key="tx_yag_general.cancel"/>
		    	</f:link.action>
    		</span>
    	</div>
	</f:form>
	
</f:section>

<f:section name="beButtonsLeft">
	<ptextbase:be.buttons.icon uri="{f:uri.action(action: 'list')}"/>
</f:section>

