<f:layout name="default" />
<f:section name="content">
    <h1><f:translate key="gallery.new.header" /></h1>
    <p class="bodytext"><f:translate key="gallery.new.infotext" /></p>
    <f:render partial="formErrors" arguments="{for: 'newGallery'}" />
    <f:form method="post" controller="Gallery" action="create" name="newGallery" object="{newGallery}">
        <label for="name"><f:translate key="gallery.title" /> <span class="required">(<f:translate key="general.required" />)</span></label><br />
        <f:form.textbox property="name" /><br />
        <label for="description"><f:translate key="gallery.description" /></label><br />
        <f:form.textarea property="description" rows="8" cols="46" /><br />
        <label for="date"><f:translate key="gallery.date" /></label><br />
        <f:form.textbox property="date" /><br />
        <f:form.submit class="submit" value="Submit"/>
    </f:form>
    <f:link.action controller="Gallery" action="index"><f:translate key="gallery.links.backToGallery" /></f:link.action>
</f:section>