<f:layout name="default" />
<f:section name="content">
    <h1>Remove Album</h1>
    <p class="bodytext">Are you sure, you want to do this?</p>
    <f:link.action controller="Gallery" action="removeAlbum" arguments="{gallery : gallery, album : album, reallyDelete : 1}">Remove Album</f:link.action><br/><br/>
    <f:link.action controller="Gallery" action="edit" arguments="{gallery : gallery}">Back to Gallery Edit page</f:link.action><br/>
    <f:link.action controller="Gallery" action="show" arguments="{gallery : gallery}">Back to Gallery</f:link.action><br/>
</f:section>