<f:layout name="default" />
<f:section name="content">
    <h1><f:translate key="gallery.removealbum.header" /></h1>
    <p class="bodytext"><f:translate key="gallery.removealbum.reallyInfotext" /></p>
    <f:link.action controller="Gallery" action="removeAlbum" arguments="{gallery : gallery, album : album, reallyDelete : 1}"><f:translate key="gallery.removealbum.removeAlbumLink" /></f:link.action><br/><br/>
    <f:link.action controller="Gallery" action="edit" arguments="{gallery : gallery}"><f:translate key="gallery.links.backToGalleryEditPage" /></f:link.action><br/>
    <f:link.action controller="Gallery" action="show" arguments="{gallery : gallery}"><f:translate key="gallery.links.backToGallery" /></f:link.action><br/>
</f:section>