<f:layout name="default" />
<f:section name="content">
    <h1>Welcome to the gallery example</h1>
    <f:if condition="{gallery}">
        <f:then>
            <p>Singles view of gallery:</p>
            <p>Name of gallery: {gallery.description}</p>
            <f:if condition="{gallery.albums}">
                <f:for each="{gallery.albums}" as="album">
                    <dd>
                        <img src="{album.cover.thumb.filePath}" />
                        <f:link.action action="index" controller="Album" arguments="{album : album}">{album.title}</f:link.action>
                    </dd>
                </f:for> 
            </f:if>
            <p><f:link.action action="index" controller="Gallery">Back to gallery overview</f:link.action></p>
        </f:then>
        <f:else>
            <p>
                No gallery found for given UID!
            </p>
        </f:else>
    </f:if>
</f:section>