{namespace yag=Tx_Yag_ViewHelpers}

	<style>
		#albumGallerySelector .ui-selecting, #albumAlbumSelector .ui-selecting { background: #FECA40; }
		#albumGallerySelector .ui-selected, #albumAlbumSelector .ui-selected { background: #F39814; color: white; }
		#albumGallerySelector, #albumAlbumSelector { list-style-type: none; margin: 0; padding: 0; }
		.albumGallerySelectorBox {width:250px; height:300px; border:1px solid gray; background: white; padding:3px; float:left;}
		.albumAlbumSelectorBox {width:250px; height:300px; border:1px solid gray; background: white; padding:3px; float:left;}
		.inactiveSelectorBox {width:250px; height:300px; border:1px solid gray; background: silver; float:left; padding:3px;}
		.selectorBoxSeparator {width:20px; height:300px; float:left; padding-top:142px;}
	</style>

<yag:Javascript.Template templatePath="Resources/Private/JSTemplates/FlexForm/SelectAlbum.js" arguments="{elementId : PA.elementID}" />

<div class="albumGallerySelectorBox">
	<ol id="albumGallerySelector">
		<f:for each="{galleries}" key="i" as="gallery">
			<f:if condition="{gallery.uid} == {PA.itemFormElValue}">
				<f:then><li class="ui-state-default ui-selected" style="margin-bottom:2px;" galleryUid="{gallery.uid}"></f:then>
				<f:else><li class="ui-state-default" style="margin-bottom:2px;" galleryUid="{gallery.uid}"></f:else>
			</f:if>
				
				<div style="padding:3px;">
					<div style="float:left; padding-right:5px;">
						<yag:image item="{gallery.thumbAlbum.thumb}" width="64" height="64" quality="75"/>
					</div>
					<div>
						<div><strong>{gallery.name}</strong></div>
						<div>{gallery.albumCount} Albums</div>
					</div>
					<div style="clear:both"></div>
				</div>
			</li>
		</f:for>
	</ol>
</div>

<div class="selectorBoxSeparator">
	&raquo;
</div>

<div id="albumAlbumSelectorBox" class="inactiveSelectorBox">
	<div class="inactiveInfo">No gallery selected.</div>
</div>
<div style="clear:both"></div>

<f:form.hidden name="{PA.itemFormElName}" value="{PA.itemFormElValue}" id="{PA.elementID}" />