/*
* MISC
*/

body { 
	color: #000; 
	font: 0.8em/1.5em Helvetica,Arial; 
}

a { 
	color: #555;
	font-weight: bold; 
	text-decoration: none; 
	line-height: 1.5em; 
}

a:hover {text-decoration: underline }

.ui-accordion .ui-accordion-header {
	padding-left: 25px;
}


.yag-list dt {
	float:left;
	width:75px;
}

/*
* Breadcrumbs
*/
.tx-yag-breadcrumbcomtainer {
	border:0;
	margin:0;
}



/*
* extList
*/

.tx-ptextlist-pager li {
	display: inline;
}



/*
* Flexform item selctors
*/
#imageGallerySelector .ui-selecting, #imageAlbumSelector .ui-selecting, #imageImageSelector .ui-selecting,
#albumGallerySelector .ui-selecting, #albumAlbumSelector .ui-selecting,
#galleryGallerySelector .ui-selecting { 
	background: #FECA40; 
}

#imageGallerySelector .ui-selected, #imageAlbumSelector .ui-selected, #imageImageSelector .ui-selected,
#albumGallerySelector .ui-selected, #albumAlbumSelector .ui-selected,
#galleryGallerySelector .ui-selected  { 
	background: #F39814; color: white; 
}

#imageGallerySelector, #imageAlbumSelector, #imageImageSelector,
#albumGallerySelector, #albumAlbumSelector,
#galleryGallerySelector { 
	list-style-type: none; margin: 0; padding: 0; 
}

.inactiveSelectorBox {
	width:200px; 
	height:300px; 
	border:1px solid gray; 
	background: #C0C0C0; 
	float:left; 
	padding:3px;
	color: gray;
}

.itemSelectorBox {
	width:200px; 
	height:300px; 
	border:1px solid gray; 
	background: white; 
	padding:3px; 
	float:left;
	overflow:auto;
}

.selectorBoxSeparator {
	width:20px; 
	height:300px; 
	float:left; 
	padding:142px 3px 0 3px;
}
	
/**
* Gallery Maintenance
*/
#yagRfcBuilder {
	margin-top: 20px;
	border: 1px solid #dadada;
	background-color: #ebebeb;
	display: none;
}

#yagRfcProgressbar, #yagRfcCancel {
	margin: 5px;
}
	
#yagRfcStatus {
	margin: 3px;
}

#yagRfcImageLine {
	height: 45px;
	border: 1px solid #dadada;
	overflow: hidden;
	margin:5px;
	background-color: #f8f8f8;
}

#yagRfcImageLine img {
	padding-right:2px;
}

#yagRfcInfo {
	margin-top: 20px;
}