/*
* MISC
*/

body { 
	color: #000; 
	font: 0.8em/1.5em Helvetica,Arial; 
}

a { 
	color: #555;
	font-weight: bold; 
	text-decoration: none; 
	line-height: 1.5em; 
}

a:hover {text-decoration: underline }

.ui-accordion .ui-accordion-header {
	padding-left: 25px;
}

/*
* Breadcrumbs
*/
.tx-yag-breadcrumbcomtainer {
	border:0;
	margin:0;
}


/*
* extList
*/

.tx-ptextlist-pager li {
	display: inline;
}