/*
* MISC
*/

h1 {
	text-align: left;
}

a { 
	color: #555;
	font-weight: bold; 
	text-decoration: none; 
	line-height: 1.5em; 
}

a:hover {text-decoration: underline }

.ui-accordion .ui-accordion-header {
	padding-left: 25px;
}

/*
* Backend List
*/

.yag-list dt {
	float:left;
	width:100px;
}

td.yag-col-thumb, td.yag-col-title  {
	width: 150px;
}

.yag-description {
	margin: 20px 10px 0 0;	
}

/*
* Breadcrumbs
*/
.tx-yag-breadcrumbcomtainer {
	border:0;
	margin:0;
}


/*
* Backend forms
*/
.yag-fakeButton {
	 background-color: #F6F6F6;
    background-image: -moz-linear-gradient(center top , #F6F6F6 10%, #D5D5D5 90%);
    background-position: center bottom;
    background-repeat: repeat-x;
    border: 1px solid #7C7C7C;
    border-radius: 1px 1px 1px 1px;
    color: #434343;
    cursor: pointer;
	 font-weight: normal;
	 padding:3px;
	 font-size: 11px;
	 text-decoration:none !important;
}

.yag-fakeButton:hover {
	background-color: #C8C8C8;
	background-image: -moz-linear-gradient(center top , #F6F6F6 10%, #BDBCBC 90%);
}

.yag-buttonLine {
	margin-top:10px;
}

.yag-button {
	margin-right: 10px;
}

/*
* extList
*/

.tx-ptextlist-pager li {
	display: inline;
}



/*
* Flexform item selctors
*/
#imageGallerySelector .ui-selecting, #imageAlbumSelector .ui-selecting, #imageImageSelector .ui-selecting,
#albumGallerySelector .ui-selecting, #albumAlbumSelector .ui-selecting,
#galleryGallerySelector .ui-selecting { 
	background: #FECA40; 
}

#imageGallerySelector .ui-selected, #imageAlbumSelector .ui-selected, #imageImageSelector .ui-selected,
#albumGallerySelector .ui-selected, #albumAlbumSelector .ui-selected,
#galleryGallerySelector .ui-selected  { 
	background: #F39814; color: white; 
}

#imageGallerySelector, #imageAlbumSelector, #imageImageSelector,
#albumGallerySelector, #albumAlbumSelector,
#galleryGallerySelector { 
	list-style-type: none; margin: 0; padding: 0; 
}

.inactiveSelectorBox {
	width:200px; 
	height:300px; 
	border:1px solid gray; 
	background: #C0C0C0; 
	float:left; 
	padding:3px;
	color: gray;
}

.itemSelectorBox {
	width:200px; 
	height:300px; 
	border:1px solid gray; 
	background: white; 
	padding:3px; 
	float:left;
	overflow:auto;
}

.selectorBoxSeparator {
	width:20px; 
	float:left; 
	padding:142px 3px 0 3px;
}

.selectorBoxBusy{
	background:  #d5d5d5 url('../../../../../../typo3/sysext/t3skin/images/spinner/d5d5d5.gif') no-repeat;
	background-position: center;
}

/**
* Gallery Maintenance
*/
#yagRfcBuilder {
	margin-top: 20px;
	border: 1px solid #dadada;
	background-color: #ebebeb;
	display: none;
}

#yagRfcProgressbar, #yagRfcCancel {
	margin: 5px;
}
	
#yagRfcStatus {
	margin: 3px;
}

#yagRfcImageLine {
	height: 66px;
	border: 1px solid #dadada;
	overflow: hidden;
	margin:5px;
	background-color: #f8f8f8;
	padding:1px;
}

#yagRfcImageLine img {
	padding-right:2px;
}

#yagRfcInfo {
	margin-top: 20px;
}


.tx-yag-transparency-half {
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

table.typo3-dblist tr.tx-yag-album-index-album td{
    background-color: #FFFFDD !important;
}