@CHARSET "ISO-8859-1";

/*
* Hacks & Co
*/
.tx-yag-item-meta:after, .tx-yag-navigation-clearer:after {
    content: "."; 
    display: block; 
    height: 0;
    clear: both; 
    visibility: hidden;
}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
/* End hide from IE-mac */


/*
* General
*/
.tx-yag-adminLinkSection {
	width: 100%;
	border-top: 1px solid #aaa;
	margin-top: 50px
}

.tx-yag-gallery-confirmation {
    background-color: #FBF6DE;
    background-image: url("/typo3/sysext/t3skin/icons/gfx/notice.png");
    border-color: #B1905C;
    color: #9E7D4A;
}

.tx-yag-gallery-confirmation a {
	 color: #9E7D4A;
}

.tx-yag-thumb-outerframe {
   float: left;
   display: block;
}

/*
* Frontend Editing
*/

.form-actions {
    padding: 17px 20px 18px;
    margin-top: 18px;
    margin-bottom: 18px;
    background-color: #EEE;
    border-top: 1px solid #DDD;
}

.nav {
    padding-bottom: 10px;
    margin-bottom: 18px;
    margin-left: 0;
    list-style: none;
}

.nav > li > a {
    display: block;
}

.nav > li > a:hover {
    text-decoration: none;
    background-color: #eeeeee;
}

.nav-tabs > li,
.nav-pills > li {
    float: left;
}

.nav-tabs > li > a,
.nav-pills > li > a {
    padding-right: 12px;
    padding-left: 12px;
    margin-right: 2px;
    line-height: 14px;
}


/*
* Messages 
*/

#yag-error-header {
	padding-bottom:5px;
	color: #505050;
}

.typo3-message {
    background-position: 10px 12px;
    background-repeat: no-repeat;
    border: 1px solid;
    padding: 12px 12px 12px 36px;
}
.typo3-message a {
    text-decoration: underline;
}
.typo3-message .message-header {
    font-size: 11px;
    font-weight: bold;
}
.message-notice {
    background-color: #F6F7FA;
    background-image: url("/typo3/sysext/t3skin/icons/gfx/notice.png");
    border-color: #C2CBCF;
    color: #777777;
}
.message-notice a {
    color: #777777;
}
.message-information {
    background-color: #EAF7FF;
    background-image: url("/typo3/sysext/t3skin/icons/gfx/information.png");
    border-color: #C5DBE6;
    color: #4C73A1;
}
.message-information a {
    color: #4C73A1;
}
.message-ok {
    background-color: #CDEACA;
    background-image: url("/typo3/sysext/t3skin/icons/gfx/ok.png");
    border-color: #58B548;
    color: #3B7826;
}
.message-ok a {
    color: #3B7826;
}
.message-warning {
    background-color: #FBF6DE;
    background-image: url("/typo3/sysext/t3skin/icons/gfx/warning.png");
    border-color: #B1905C;
    color: #9E7D4A;
}
.message-warning a {
    color: #9E7D4A;
}
.message-error {
    background-color: #F6D3CF;
    background-image: url("/typo3/sysext/t3skin/icons/gfx/error.png");
    border-color: #D66C68;
    color: #AA0225;
}
.message-error a {
    color: #AA0225;
}


/*
* Breadcrumbs
*/
.tx-yag-breadcrumbcomtainer {
	border-top: 1px solid #ccc; 
	border-bottom: 1px solid #ccc; 
	margin: 3px 0 7px 0;
	padding: 5px 0 5px 0;
}

.tx-yag-breadcrumb {
	color: Black;
}


/*
* Gallery
*/
.tx-yag-gallery-itemcount {
	margin-top:3px;
	font-size: 0.8em;
	color: #505050;
}

.tx-yag-gallery-albumcaption {
	font-size: 1.4em;
}

.tx-yag-gallery-albuminfo {
    overflow: hidden;
}

.tx-yag-gallery-albumdescription {
	padding-top:10px;
}

.tx-yag-gallery-gallerydescription {
    padding-top:10px;
}

.tx-yag-gallery-thumb-outerframe {
	height:200px;
}

.tx-yag-gallery-thumb-innerframe {
    float:left;
    display:block;
}

.tx-yag-gallery-albumcount {
    font-size: 0.8em;
    color: #505050;
}

.tx-yag-gallery-gallerycaption {
    font-size: 1.4em;
}

.tx-yag-gallery-galleryinfo {
    padding-left:10px;
    float:left;
    width: 50%;
}

/*
* Album
*/
.tx-yag-album-thumb-innerframe {
    float:left;
}

.tx-yag-album-thumb-outerframe {
	height:200px;
}

.tx-yag-thumb-caption {
	font-size: 10px;
	color: #808080;
}

.tx-yag-pager {
	text-align:center;	
	font-size: 11px;
}

.tx-yag-pager a {
	color: #808080;
	text-decoration: none;
}

.tx-yag-pager a:hover {
    color: #808080;
    text-decoration: underline;
}

/*
* ItemList
*/
.tx-yag-item-thumb-outerframe {
	height:200px;
}

/*
* Item
*/
.tx-yag-singleview {
	text-align:center;
}

.tx-yag-single-download {
	margin-top: 5px;
}

.tx-yag-item-share {
    padding: 10px;
    clear: both;
    float: left;
    width: 100%;
    overflow: hidden;
}

.social_share_privacy_area {
    margin: 0 auto;
    list-style-type: none;
    float: left;
    position: relative;
    left: 50%;
}

.social_share_privacy_area li {
    float: left;
    position: relative;
    right: 50%;
}

.tx-yag-item-meta {
	font-size: 0.8em;
	padding: 10px;
	margin-top:5px;
	-moz-border-radius: 3px 3px 3px 3px;
   background-color: #F3F3F3;
   border: 1px solid #DDDDDD;
   clear: both;	
}

.tx-yag-item-meta-left, .tx-yag-item-meta-right {
	float:left;
	display:block;
	width:50%;
}

.tx-yag-item-meta dl dt{
    clear: left;
    float: left;
    margin: 0 15px 0 0;
    padding: 3px 0 0;
    text-align: right;
    width: 120px;
}

.tx-yag-item-meta dl dd {
    margin: 0 0 0 20px;
    padding: 3px 0 0;
    float: left;
}

.tx-yag-navigator {
	margin: 15px 0 5px 0;
	width: 100%;
}

.tx-yag-previous {
	float:left;
	width: 33%;
	text-align: left;
}

.tx-yag-next  {
    float:right;
    width: 33%;
    text-align: right;
}

.tx-yag-current {
	float:left;
	padding: 0 3px 0 3px;
	width: 33%;
	text-align: center;
}

.tx-yag-thumb-innerframe {
    margin: 0 10px 10px 0;
}

.tx-yag-thumb-innerframe img, .tx-yag-image img {
    -moz-border-radius: 3px 3px 3px 3px;
    background-color: #F3F3F3;
    border: 1px solid #DDDDDD;
    margin: 1px;
    padding: 7px;
}



/* Pager */
.tx-ptextlist-pager-wrapper {
    border-top: 1px solid #909090;
    margin-top: 20px;
    padding: 5px;
    overflow: hidden;
}

.tx-ptextlist-pager {
    margin-left: 0;
    text-align: center;
}

.tx-ptextlist-pager li {
    display: inline;
}

.tx-ptextlist-pager li.number a, .tx-ptextlist-pager li a span, .tx-ptextlist-pager li.number .cur, .tx-ptextlist-pager li.number .fill{
    background: url("../Images/b-pager.png") repeat-x scroll 0 0 transparent;
    border: 1px solid #BFBFBF;
    color: #000000;
    display: inline-block;
    font-size: 11px;
    height: 23px;
    width: 24px;
    line-height: 23px;
    margin-right: 6px;
    padding: 0;
    text-align: center;
}

.tx-ptextlist-pager li.number a:hover, .tx-ptextlist-pager li a:hover span, .tx-ptextlist-pager li a:hover {
    color: #FF8700;
    text-decoration: none;
}

.tx-ptextlist-pager li.number .fill {
    color: #BFBFBF;
}

.tx-ptextlist-pager li.number .cur {
    border: 1px solid #393939;
}

.tx-ptextlist-pager li a {
    text-decoration: none;
}

.tx-ptextlist-pager-item-display {
    color: #393939;
    padding-top:10px;
}

.tx-ptextlist-pager-item-display .first, .tx-ptextlist-pager-item-display .last, .tx-ptextlist-pager-item-display .count {
    color: #707070;
}