@CHARSET "ISO-8859-1";


/*
* Album
*/
.tx-yag-thumb-outerframe {
   float: left;
   margin: 5px;
   text-align: center
}

.tx-yag-thumb-innerframe img, .tx-yag-image img {
    -moz-border-radius: 3px 3px 3px 3px;
    background-color: #F3F3F3;
    border: 1px solid #DDDDDD;
    margin: 1px;
    padding: 7px;
}

.tx-yag-thumb-caption {
	font-family: arial, sans-serif;
	font-size: 10px;
	color: #808080;
}

.tx-yag-pager {
	text-align:center;	
	font-family: arial, sans-serif;
	font-size: 11px;
}

.tx-yag-pager a {
	color: #808080;
	text-decoration: none;
}

.tx-yag-pager a:hover {
    color: #808080;
    text-decoration: underline;
}

/*
* Single View
*/
.tx-yag-singleview {
	text-align:center;
}

.tx-yag-image {
}