{namespace yag=Tx_Yag_ViewHelpers}
{namespace extlist=Tx_PtExtlist_ViewHelpers}
{namespace rbac=Tx_Rbac_ViewHelpers}

<extlist:comment>
<!--  
Partial for rendering import form for multifile importer

Here is a list of objects / variables that can be accessed in this template:

Tx_Yag_Domain_Model_Album album               The album object

@package YAG
@author Michael Knoll <knoll@punkt.de>
@author Daniel Lienert <lienert@punkt.de>
-->
</extlist:comment>


<extlist:comment>
// You can get documentation for all this at http://demo.swfupload.org/Documentation/
// A demo site can be found at http://demo.swfupload.org/v220/swfobjectdemo/index.php
// Make this better using thumbnails after upload: http://demo.swfupload.org/v220/applicationdemo/index.php

// TODO copy images required for CSS stylesheet 
</extlist:comment>

<yag:Javascript.Template templatePath="Resources/Private/JSTemplates/SWFUpload.js" arguments="{albumUid : album.uid, uploadURL : '{f:uri.action(controller:\'MultifileUpload\', action:\'upload\')}'}" />

<div id="content">

    <h2>Multifile Upload</h2>

    <f:form method="post" id="form1" enctype="multipart/form-data">
        <div id="divSWFUploadUI">
            <div class="fieldset  flash" id="fsUploadProgress">
            <span class="legend">Upload Queue</span>
            </div>
            <p id="divStatus">0 Files Uploaded</p>

            <f:if condition="{album}">
                <f:then>
                    <f:form.hidden id="album_uid" value="{album.uid}" name="album" />
                </f:then>
                <f:else>
                    <f:form.select id="album_uid" name="albumUid" options="{albums}" optionValueField="uid" optionLabelField="name" /><br/><br />
                </f:else>
            </f:if>
				<br />
            <p>
                <span id="spanButtonPlaceholder"></span>
                <input id="btnCancel" type="button" value="Cancel" disabled="disabled" style="margin-left: 2px; height: 22px; font-size: 8pt;" />
                <br />
            </p>
        </div>
        <noscript>
            <div style="background-color: #FFFF66; border-top: solid 4px #FF9966; border-bottom: solid 4px #FF9966; margin: 10px 25px; padding: 10px 15px;">
                We're sorry.  SWFUpload could not load.  You must have JavaScript enabled to enjoy SWFUpload.
            </div>
        </noscript>
        <div id="divLoadingContent" class="content" style="background-color: #FFFF66; border-top: solid 4px #FF9966; border-bottom: solid 4px #FF9966; margin: 10px 25px; padding: 10px 15px; display: none;">

            SWFUpload is loading. Please wait a moment...
        </div>
        <div id="divLongLoading" class="content" style="background-color: #FFFF66; border-top: solid 4px #FF9966; border-bottom: solid 4px #FF9966; margin: 10px 25px; padding: 10px 15px; display: none;">
            SWFUpload is taking a long time to load or the load has failed.  Please make sure that the Flash Plugin is enabled and that a working version of the Adobe Flash Player is installed.
        </div>
        <div id="divAlternateContent" class="content" style="background-color: #FFFF66; border-top: solid 4px #FF9966; border-bottom: solid 4px #FF9966; margin: 10px 25px; padding: 10px 15px; display: none;">
            We're sorry.  SWFUpload could not load.  You may need to install or upgrade Flash Player.
            Visit the <a href="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash">Adobe website</a> to get the Flash Player.
        </div>
   </f:form>

</div>
