{namespace yag=Tx_Yag_ViewHelpers}
{namespace extlist=Tx_PtExtlist_ViewHelpers}
{namespace rbac=Tx_Rbac_ViewHelpers}

<extlist:comment>
<!--  
Partial for rendering import form for directory importer

Here is a list of objects / variables that can be accessed in this template:

Tx_Yag_Domain_Model_Album album               The album object

@package YAG
@author Michael Knoll <knoll@punkt.de>
@author Daniel Lienert <lienert@punkt.de>
-->
</extlist:comment>

<yag:CSS.Include file="EXT:yag/Resources/Public/CSS/JQuery/jqueryFileTree.css" />
<yag:Javascript.Template templatePath="EXT:yag/Resources/Private/JSTemplates/FileTree.js" arguments="{ajaxBaseURL : '{f:uri.action(controller:\'Ajax\')}', errorMessageOnPickingFiles : '{f:translate(key: \'tx_yag_general.errorMessageOnPickingFiles\')}'}" />

<div id="filetree" class="filetree"></div>

<style>
    .ui-autocomplete-loading { background: white url('fileadmin/jquery/images/ui-anim_basic_16x16.gif') right center no-repeat; }
    #city { width: 25em; }
</style>

<f:form method="post" controller="DirectoryImport" action="importFromDirectory" name="importFromDirectory">
    <f:form.hidden id="selectedDir" name="directory" value="" />
    <f:if condition="{albums}">
        <f:then>
		    <label for="album"><f:translate key="tx_yag_general.album" /></label>
		    <f:form.select name="album" options="{albums}" optionValueField="uid" optionLabelField="name" />
	    </f:then>
	    <f:else>
	        <f:form.hidden name="album" value="{album}" />
	    </f:else>
    </f:if>
    <br/>
    <f:translate key="tx_yag_general.selectedDirectory" />: <span id="selectedDirDiv"><f:translate key="tx_yag_general.none" /></span> <br/>

    <div style="padding-top:10px;">
        <f:form.checkbox name="crawlRecursive" value="1"/>
        <label for="crawlRecursive"><f:translate key="tx_yag_general.importFromSubdirectories" />:</label>
    </div>

    <div>
        <f:form.checkbox name="noDuplicates" value="1" id="noDuplicates"/>
        <label for="noDuplicates"><f:translate key="tx_yag_general.noDuplicates" />:</label>
    </div>
    <br/>
    <f:form.submit value="{f:translate(key:'tx_yag_general.import')}" class="btn"/>
</f:form>