{namespace yag=Tx_Yag_ViewHelpers}
{namespace extlist=Tx_PtExtlist_ViewHelpers}
{namespace rbac=Tx_Rbac_ViewHelpers}

<extlist:comment>
<!--  
Template for rendering import form for zip importer

Here is a list of objects / variables that can be accessed in this template:

Tx_Yag_Domain_Model_Album album               The album object

@package YAG
@author Michael Knoll <knoll@punkt.de>
@author Daniel Lienert <lienert@punkt.de>
-->
</extlist:comment>

<f:if condition="{zipImportAvailable}">
    <f:then>

        <f:form method="post" controller="ZipImport" action="importFromZip" name="importFromZip" enctype="multipart/form-data">

            <f:if condition="{createNewAlbum}">
                <f:then>
                    <label for="gallery"><f:translate key="tx_yag_general.selectGallery" />:</label><br />
                    <f:form.select name="galleryUid" options="{galleries}" optionValueField="uid" optionLabelField="name" />
                    <br/><br />
                    <label for="name"><f:translate key="tx_yag_general.albumName" />:</label><br />
                    <f:form.textfield property="name" />
                    <br/><br />
                </f:then>
                <f:else>
                    <f:if condition="{album}">
                        <f:then>
                            <f:form.hidden name="album" value="{album.uid}" />
                        </f:then>
                        <f:else>
                            <label for="album"><f:translate key="tx_yag_general.selectAlbum" />:</label><br />
                            <f:form.select id="album_uid" name="albumUid" options="{albums}" optionValueField="uid" optionLabelField="name"/>
                            <br/><br />
                        </f:else>
                    </f:if>
                </f:else>
            </f:if>

            <label for="file"><f:translate key="tx_yag_controller_zipimportcontroller_importfromzipaction.selectZipFile" /></label><br />
            <f:form.upload name="file" /><br/><br />
            <f:form.submit value="{f:translate(key:'tx_yag_general.uploadFile')}" class="btn"/>

        </f:form>

    </f:then>
    <f:else>
        <f:translate key="tx_yag_controller_album_addItems.zipImporterNotAvailable" />
    </f:else>
</f:if>