{namespace yag=Tx_Yag_ViewHelpers}
{namespace extlist=Tx_PtExtlist_ViewHelpers}

<extlist:comment>
<!--  
Template for rendering the maintenance overview

Here is a list of objects / variables that can be accessed in this template:

resolutionFileCache		Tx_Yag_Domain_FileSystem_ResolutionFileCache

@package YAG
@author Michael Knoll <mimi@kaktusteam.de>
@author Daniel Lienert <daniel@lienert.cc>
-->
</extlist:comment>

<yag:Backend.configuration />

<f:layout name="Default" />
<f:section name="main">
	
	<yag:Javascript.Template templatePath="Resources/Private/JSTemplates/Maintenance.js" arguments="{rfcControllerURL : '{f:uri.action(controller:\'ResolutionFileCache\', action:\'buildAllResolutionsForItem\')}'}" />
	
	<f:renderFlashMessages class="tx-extbase-flash-message" renderMode='div'/>
	
	<h1><f:translate key="tx_yag_controller_backend_MaintenanceOverview.header" /></h1>
	
	<h2><f:translate key="tx_yag_controller_backend_MaintenanceOverview.statistics" /></h2>
	<dl class="yag-list">
		<dt>Galleries:</dt><dd>{galleryCount}&nbsp;</dd>
		<dt>Albums:</dt><dd>{albumCount}&nbsp;</dd>
		<dt>Images:</dt><dd>{itemCount}&nbsp;</dd>
	</dl>
	
	<br>
	<div><f:translate key="tx_yag_controller_backend_MaintenanceOverview.instanceCount" arguments="{0: includedCount}"/></div>
	<div>
		<f:link.action action="clearAllPageCache">
			<span class="t3-icon t3-icon-actions t3-icon-actions-system t3-icon-system-cache-clear-impact-low">&nbsp;</span>
			<span><f:translate key="tx_yag_controller_backend_MaintenanceOverview.clearAllPageCache" /></span>
		</f:link.action>
	</div>
	<br>
	
	<h2><f:translate key="tx_yag_controller_backend_MaintenanceOverview.resolutionFileCacheHeader" /></h2>
	<h2><f:translate key="tx_yag_controller_backend_MaintenanceOverview.resolutionFileCacheInfoHeader" /></h2>
	<dl class="yag-list">
		<dt>Filecount:</dt><dd>{resolutionFileCache.cacheFileCount}</dd>
		<dt>Cache size:</dt><dd>{resolutionFileCache.cacheSize}</dd>
	</dl>
	<br />
	<ul>
		<li>
			<f:link.action controller="ResolutionFileCache" action="clearResolutionFileCache">
				<span class="t3-icon t3-icon-actions t3-icon-actions-system t3-icon-system-cache-clear-impact-low">&nbsp;</span>
				<span><f:translate key="tx_yag_controller_backend_MaintenanceOverview.clearResolutionFileCache" /></span>
			</f:link.action>
		</li>
		<li>
			<a href="#" id="yagRfcBuild">
				<span class="t3-icon t3-icon-status t3-icon-status-version t3-icon-version-no-version">&nbsp;</span>
				<span><f:translate key="tx_yag_controller_backend_MaintenanceOverview.buildResolutionFileCache" /></span>
			</a>
		</li>
	</ul>
	
	<div id="yagRfcBuilder" itemCount="{itemCount}">
		<div id="yagRfcStatus"><span>Working on File: </span><span id="yagRfcCurrentItem" yagRfcCurrentItem="{firstItemUid}">{firstItemUid}</span></div>
		<div id="yagRfcProgressbar"></div>
		<div id="yagRfcImageLine"></div>
		<a href="#" id="yagRfcCancel">
			<span class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-document-close">&nbsp;</span>
			<span><f:translate key="tx_yag_general.cancel" /></span>
		</a>
	</div>
	<div id="yagRfcInfo"></div>
</f:section>

<f:section name="beButtonsLeft">
</f:section>
