{namespace yag=Tx_Yag_ViewHelpers}
{namespace ptx=Tx_PtExtbase_ViewHelpers}
{namespace extlist=Tx_PtExtlist_ViewHelpers}

<extlist:comment>
	<!--
	Template for rendering the maintenance overview

	Here is a list of objects / variables that can be accessed in this template:

	resolutionFileCache		Tx_Yag_Domain_FileSystem_ResolutionFileCache

	@package YAG
	@author Michael Knoll <mimi@kaktusteam.de>
	@author Daniel Lienert <typo3@lienert.cc>
	-->
</extlist:comment>

<f:layout name="Default"/>
<f:section name="main">

	<yag:Javascript.Template templatePath="EXT:yag/Resources/Private/JSTemplates/Maintenance.js" arguments="{rfcControllerURL : '{f:uri.action(controller:\'ResolutionFileCache\', action:\'buildResolutionByConfiguration\')}'}"/>
	<f:flashMessages class="tx-extbase-flash-message" renderMode='div'/>


	<script>
		jQuery(function () {
			jQuery("#tabs").tabs();
		});
	</script>

	<h1>
		<f:translate key="tx_yag_controller_backend_MaintenanceOverview.header"/>
	</h1>

	<div id="tabs">
		<ul>
			<li><a href="#tabs-1">
				<f:translate key="tx_yag_controller_backend_MaintenanceOverview.statistics"/>
			</a></li>
			<li><a href="#tabs-2">
				<f:translate key="tx_yag_controller_backend_MaintenanceOverview.resolutionFileCacheHeader"/>
			</a></li>
		</ul>
		<div id="tabs-1">
			<f:render partial="Backend/MaintenanceOverview/Statistics" arguments="{folderStatistics: folderStatistics, globalStatistics:globalStatistics, resolutionFileCache:resolutionFileCache}"/>
		</div>
		<div id="tabs-2">
			<f:render partial="Backend/MaintenanceOverview/ResolutionFileCache" arguments="{resolutionFileCache: resolutionFileCache, firstItemUid: firstItemUid}"/>
		</div>
	</div>
</f:section>

<f:section name="beButtonsLeft">
</f:section>
