{namespace yag=DL\Yag\ViewHelpers}
{namespace extlist=Tx_PtExtlist_ViewHelpers}
{namespace ptx=Tx_PtExtbase_ViewHelpers}
{namespace core=TYPO3\CMS\Core\ViewHelpers}

<h3>
    <f:translate key="gallery.edit.header"/>
    {gallery.name}
</h3>

<p class="bodytext">
    <f:translate key="gallery.edit.infotext"/>
</p><br/>
<f:render partial="FormErrors" arguments="{for: 'gallery'}"/>
<f:form method="post" controller="Gallery" action="update" name="gallery" object="{gallery}">
    <f:render partial="Gallery/FormFields" arguments="{gallery:gallery, config:config}"/>

    <div class="yag-buttonLine">
		<span class="yag-button">
			<f:form.submit class="btn btn-default" value="{f:translate(key: 'tx_yag_general.save', default: 'Save')}  {f:translate(key: 'tx_yag_general.gallery')}"/>
		</span>
    </div>
</f:form>

<div class="yag-galleryedit-commands">
    <a href="{yag:Backend.editRecordUrl(entity:gallery, returnUrl: '{f:uri.action(action:\'index\', additionalParams:\'{id:currentPid}\', arguments:\'{extlist:namespace.GPArray(object: yagContext arguments:\\'galleryUid:{gallery.uid}\\')}\')}')}">
        <core:icon identifier="actions-document-open"/>
        <f:translate key="tx_yag_controller_item.editAlbumInListModule"/>
    </a>
</div>